:root {
    --note-textarea-height: 5em;
}

.course-detail-page .course-detail-top{
    height: 40em;
    overflow: hidden;

    &.top-bg {
        background: url(../images/course-bg.jpg) no-repeat center center;
        background-size: cover;
    }

    & .empty-img {
        height: 36em;
        background-size: auto;
        opacity: .65;
    }

    & .player-wrapper {
        position: relative;
        height: 100%;
        padding: var(--large-space);
        overflow: hidden;

        & .player-start-btn {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
        }

        &:hover .player-title-row {
            @apply --fade-in;

            transform: scaleY(1);
        }
    }

    & .player-content {
        width: 100%;
        height: 100%;
        background: black;
    }

    & .player-title-row {
        @apply --transition;
        @apply --fade-out;

        position: absolute;
        left: var(--large-space);
        right: var(--large-space);
        top: var(--large-space);
        line-height: calc(var(--font-size) * 4);
        padding: 0 var(--large-space);
        background: white;
        z-index: 10;
        transform: scaleY(0);
        transform-origin: 0 0;

        & .share-bar .item {
            margin-left: var(--large-space);
            display: inline-block;
        }
    }



    & .chapter-main,
    & .course-note-main {
        height: 100%;
        padding-left: 1em;
        padding-top: calc(var(--font-size) * 3);

    }

    & .course-side-catalog {
        @apply --transition;

        position: relative;
        overflow: hidden;
        width: 30%;
        float: right;
        height: 100%;
        color: #ffffff;
        background: rgba(0,0,0,.65);

        &.show-note {
            & .course-chapter,
            & .course-chapter .course-side-title-row {
                margin-left: -100%;
            }

            & .course-note {
                margin-left: 0;
            }
        }

        &.collapse {
            margin-right: -30%;
            left: -1em;

            & .toggle-catalog {
                & .left {
                    display: block;
                }

                & .right {
                    display: none;
                }
            }
        }

        & .side-content {
            white-space: nowrap;
            height: 100%;
        }

        & .course-chapter,
        & .course-note {
            @apply --transition;

            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 100%;
        }

        & .course-side-title-row {
            @apply --transition;

            line-height: calc(var(--font-size) * 3);
            padding: 0 var(--large-space) 0 calc(var(--large-space) + 1);
            border-bottom: 1px solid var(--fade-color);
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            color: var(--font-sub-color);

            & .note-btn {
                background: var(--fade-color);
                padding: calc(var(--font-size) / 2) var(--font-size);
                margin-left: var(--large-space);
                line-height: 1em;
            }
        }
    }

    & .course-chapter {
        height: 100%;
        width: 100%;

        & .toggle-catalog {
            position: absolute;
            width: 1em;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            background: var(--font-color);
            z-index: 2;

            & .iconfont {
                position: absolute;;
                top: 50%;
                margin-top: -.5em;
                left: 0;
                cursor: pointer;
            }

            & .left {
                display: none;
            }
        }
    }
    & .chapter-list {
            overflow: auto;
            height: 100%;
            width: 100%;
            transition: all .2s linear;

            & li {
                margin-bottom: var(--large-space);
                padding: 0 var(--large-space);

                & .common-title {
                    border-bottom: 1px dashed var(--fade-color);
                    padding: var(--font-size) 0;
                    opacity: .5;
                    filter: alpha(opacity=50);
                }
            }

            & dl {
                padding: 1em var(--large-space);
                margin: 0 -var(--large-space);
                transition: all .2s linear;
                cursor: pointer;

                &.required .required-tag {
                    display: block;
                }

                &:hover,
                &.focus {
                    background: var(--fade-color);
                }
            }

            & dt {
                @apply --clearfix;

                & .required-tag {
                    float: right;
                    color: var(--font-color);
                    background: white;
                    padding: calc(var(--space) / 4) calc(var(--space) / 2);
                    font-size: var(--small-font);
                    margin-left: var(--space);
                    display: none;
                }
            }

            & dd {
                font-size: var(--small-font);
                margin-top: 1em;

                & .item {
                    display: inline-block;
                    vertical-align: middle;
                    border-right: 1px solid var(--fade-color);
                    padding-right: 1em;
                    margin-right: 1em;
                    line-height: 1em;

                    &:last-child {
                        border: none;
                    }
                }
            }
        }


        & .course-note { /* 课程笔记 */
            @apply --transition;

            position: relative;
            width: 100%;
            height: 100%;
            padding: 0 var(--large-space);
            color: white;
            margin-left: 100%;


            & textarea {
                @apply --transition;

                display: block;
                width: 100%;
                margin-bottom: var(--space);
                margin-top: var(--large-space);
                border-color: transparent;
                height: calc(calc(var(--font-size) * 2) + calc(var(--space) * 2));

                &:focus {
                    height: var(--note-textarea-height);
                    border-color: var(--main-color);
                }
            }
        }

        & .note-add-wrapper {
            overflow: hidden;

            & .note-btn-group {
                @apply --transition;
                display: none;
            }

            &.editing {
                & textarea {
                    height: var(--note-textarea-height);
                }

                & .note-btn-group {
                    display: block;
                }
            }
        }

        & .note-list {
            & li {
                margin-top: var(--font-size);
                position: relative;

                &.view {
                    & .bottom {
                        @apply --fade-in;

                        margin: 1em 0;
                        height: 3em;
                    }

                    & .note-text {
                        white-space: normal;
                        text-decoration: none;
                        color: inherit;
                    }
                }

                &.editing {
                    & textarea {
                        @apply --fade-in;

                        height: var(--note-textarea-height);
                        position: relative;
                        transition: all .5s linear;
                        visibility: visible;

                    }

                    & .note-text,
                    & .time,
                    & .bottom {
                        display: none;
                    }
                    & .note-btn-group {
                        display: block;
                    }
                }

                &.fade {
                    opacity: .2;
                    filter: alpha(opacity=20);
                }
            }

            & textarea {
                @apply --fade-out;

                height: auto;
                margin-top: 0;
                position: absolute;
                visibility: hidden;
                transition: none;
            }

            & .note-text {
                @apply --transition;

                cursor: pointer;
                line-height: 2;

                &:hover {
                    color: var(--main-color);
                    text-decoration: underline;
                }
            }

            & .note-btn-group {
                display: none;
            }

            & .bottom {
                @apply --fade-out;

                border-top: 1px solid var(--fade-color);
                overflow: hidden;
                height: 0;
                line-height: 3em;

                & .item {
                    display: inline-block;
                    margin-left: var(--large-space);
                }
            }
        }

}
