/*
tianjun  video use 

.vjs-skin-hotdog-stand {
    & .vjs-progress-holder { 
        height: 20px;
        
        & .vjs-play-progress { 
            height: 20px;
        }
        & .vjs-play-progress:before {
            display: none
        }
    }
    & .vjs-progress-holder {
        & .vjs-load-progress div {
            height: 18px;
        }
    }
    & .vjs-progress-control {
        & .vjs-mouse-display {
            width: 0px;
        }
    }
}
*/

.plyr__play-large {
    height: auto;
}

