/*tianjun  video use */

.vjs-skin-hotdog-stand .vjs-progress-holder { height: 20px; }
.vjs-skin-hotdog-stand .vjs-progress-holder .vjs-play-progress { 
    height: 20px;
}
.vjs-skin-hotdog-stand .vjs-play-progress:before {
    display: none
}
.vjs-skin-hotdog-stand .vjs-progress-holder .vjs-load-progress div {
    height: 18px;
}