.addattendance-page {
    & .addattendance {
        & .input-padding {
            padding-right: calc(var(--large-space)/2);
        }
        & .form-row {
            & label.label {
                width: calc(var(--space)*10);
            }
        }
        & .code {
            & img {
                width: calc(var(--base-gap)*3);
                height: auto;
            }
        }
    }
}
