.addexam-page {
    & .addexam-content {
        & .test {
            background: var(--bg-color-3);
            padding: calc(var(--large-space) /2);
        }
        & .iconfont {
            font-size: calc(var(--font-size) *2);
            vertical-align: bottom;
        }
        & span {
            font-size: calc(var(--small-font) *2);
        }
    }
}
