.addexam-page {
    .form {
        & .form-row {
            float: none;
            vertical-align: top;
            display: inline-block;
            margin-right: -4px;
        }
    }
    & .test {
        & .btn {
            padding: 0 1em;
            font-size: 12px;

        }
        & .select {
            font-size: 12px;
            padding: 0 1em;
        }
    }
}