.addtopicclass-page {
    & .addtopicclass {
        & .addtopic-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: var(--large-space);
        }
    }
}
