.addwork-page {
    & .addwork {
        & .ask-help {
            width: calc(var(--base-gap) /2);
            height: calc(var(--base-gap) /2);
            border-radius: 50%;
            background-color: var(--bg-color-2);
            color: var(--font-color);
            text-align: center;
            line-height: calc(var(--base-gap) /2);
        }
        & .start-time {
            padding-right: calc(var(--large-space) /2);
        }
        & .form > .form-choice > .form-row {
            & .content {
                margin-left: 0;
            }
        }
        & .introduce {
            line-height: var(--input-height);
        }
    }
}
