.addwork-page {
    & .addwork {
        & .ask-help {
            width: calc(var(--base-gap) /2);
            height: calc(var(--base-gap) /2);
            border-radius: 50%;
            background-color: var(--bg-color-2);
            color: var(--font-color);
            text-align: center;
            line-height: calc(var(--base-gap) /2);
        }
        & .introduce {
            line-height: var(--input-height);
        }
        & .progress-box {
            width: 70%;
            & .progress-bar {
                background-color: var(--font-sub-color);
            }
        }
    }
}
