.choosepapertopic-page {
    & .choosepapertopic-title {
        & .form {
            & .choosepapertopic-item > .form-row {
                & > label,
                & label.label {
                    display: block;
                    float: none;
                }
                & .content {
                    margin-left: 0;
                }
                & select {
                    width: calc(var(--base-gap) *6);
                }
            }
        }
    }
}
