.choosequestion-page {
    & .choosequestion {
        & ul {
            margin-right: -30px;
        }
        & .choosequestion-item {
            padding-right: 30px;
            margin-bottom: 30px;
            & .text {
                padding: 7px 0 7px 10px;
                position: absolute;
            }
            & textarea {
                &.input {
                    padding-left: 5em;
                }
            }
            & .set-row {
                margin-top: -1px;
                position: relative;
                padding: 5px 10px;
                border: 1px solid transparent;
                overflow: hidden;
                background: #f9f9f9;
                border-color: #979797;
                &.answer {
                    padding: 0;
                    padding-right: 5px;
                }
            }
            & .input {
                border-color: #979797;
                background-color: #fff;
                outline: none;
                padding: 7px;
                min-width: 100px;
                width: 100%;
                min-height: 28px;
                border-width: 1px;
                border-style: solid;
            }
            & .setanswer {
                background: var(--main-color);
                color: var(--white);
                padding: 5px;
                text-align: center;
                font-size: .8em;
                &.selected {
                    background: var(--custom-color-3);
                }
            }
        }
        & a {
            cursor: pointer;
        }
    }
}