.exam-verify-page {
    & .exam-verify {
        & select {
            width: calc(var(--base-gap)*4);
            height: var(--large-space);
        }
        & .r-block {
            line-height: var(--large-space);
        }
    }
}
