.managements-page {
    & .publishnotice {
        & .qrcode {
            width: calc(var(--section-gap)*2);
            height: calc(var(--section-gap)*2);
        }
        & .form-line-height {
            line-height: var(--input-height);
        }
    }
}
