.managements-page {
    & .manage-tabs {
        & .managements-tabs {
            & ul {
                & li {
                    width: 10%;
                    cursor: pointer;
                }
            }
        }
        & .managements-tabs-item {
            width: 100%;
            height: calc(var(--space)/2);
            background-color: var(--font-sub-color);
            position: relative;
            & .managements-tabs-circle {
                width: calc(var(--base-gap)/2);
                height: calc(var(--base-gap)/2);
                background-color: var(--white);
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -calc(var(--base-gap)/4) 0 0 -calc(var(--base-gap)/4);
                border: 1px solid var(--border-color);
                & .managements-tabs-smallcircle {
                    width: var(--font-size);
                    height: var(--font-size);
                    background-color: var(--font-sub-color);
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -calc(var(--font-size)/2) 0 0 -calc(var(--font-size)/2);
                }
            }
        }
        & p {
            text-align: center;
        }
        & .active {
            & .managements-tabs-item {
                background-color: var(--main-color);
                & .managements-tabs-circle {
                    & .managements-tabs-smallcircle {
                        background-color: var(--main-color);
                    }
                }
            }
            & p {
                color: var(--main-color);
            }
            &.selected {
                & p {
                    margin-top: calc(var(--space)*3);
                }
            }
        }
        & .complete {
            & .managements-tabs-item {
                background-color: var(--custom-color-4);
                & .managements-tabs-circle {
                    & .managements-tabs-smallcircle {
                        background-color: var(--custom-color-4);
                    }
                }
            }
            & p {
                color: var(--custom-color-4);
            }
        }
    }
}
