.managements-page {
    & .managements-membership {
        & .page-main-wrapper {
            & .page-side {
                float: left;
                max-width: 15%;
                width: 15%;
                padding-left: 0;
                padding-right: 0;
            }
            & .page-main {
                float: right;
                width: 85%;
                max-width: 85%;
                & .membership-main-padding {
                    padding-left: calc(var(--large-space)*2);
                }
            }
            & li {
                width: 100%;
                height: var(--input-height);
                line-height: var(--input-height);
                background-color: var(--bg-color);
                text-align: center;
                &.active {
                    background-color: var(--main-color);
                    color: var(--white);
                }
            }
        }
        & .add-mr {
            margin-right: 0;
            cursor: auto;
            text-align: left;
        }
        & .add-label {
            line-height: var(--input-height);
        }
        & .tag-btn {
            padding: 0 var(--font-size);
        }
        & .membership-content-5 {
            padding-right: calc(var(--large-space)*10);
            & .student-list {
                & span {
                    background: var(--white);
                    padding: calc(var(--font-size)/2) var(--space);
                    margin-bottom: calc(var(--space)/2);
                    display: inline-block;
                    &.active {
                        background-color: var(--bg-color-2);
                    }
                }
            }
            & textarea {
                width: 100%;
            }
        }
    }
}
