.managements-page {
    & .dateplan {
        & .dateplan-padding {
            padding: 0 var(--large-space);
        }
        & table{
            &.table {
                & th {
                    text-align: center;
                }
            }
        }
        & td {
            text-align: center;
        }
        & .minimize {
            border-radius: 50%;
            background-color: var(--main-color);
            width: calc(var(--large-space)/2);
            height: calc(var(--large-space)/2);
            color: var(--white);
            cursor: pointer;
            line-height: calc(var(--large-space)/2);
            text-align: center;
        }
        & .change-min {
            & .change-item {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        & .max {
            display: none;
        }
    }
}
