.managements-page {
    & .classmanage {
        & .form-row-width {
            width: 33.3%;
        }
        & .train-padding {
            padding-right: var(--large-space);
        }
        & .photos {
            width: 80%;
            & ul {
                margin-right: -var(--section-gap);
            }
            & li {
                width: 19%;
                padding-right: var(--section-gap);
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-top: calc(var(--space) * 2);
                & img {
                    width: 100%;
                }
                & .photo-item {
                    position: relative;
                    &:hover {
                        & .check {
                            @apply --fade-in;
                        }
                    }
                    & .progress-box {
                        width: 80%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 10%;
                        & .progress {
                            height: 5px;
                        }
                        & .progress-bar {
                            background-color: var(--font-color);
                        }
                        & span {
                            color: var(--font-color);
                            font-size: 6px;
                        }
                    }
                }
                & input {
                    position: absolute;
                    top: calc(var(--font-title)/3);
                    right: 0;
                    z-index: 2;
                    opacity: 0;
                }
            }
        }
    }
}
