.managements-page {
    & .display-none {
        display: none;
    }
    & .width-full {
        width: 100%;
    }
    & .input-height {
        line-height: var(--input-height);
        height: var(--input-height);
    }
}
