.newevaluation-page {
    & .newevaluation {
        & .page-main-wrapper {
            & .page-side {
                padding-left: calc(var(--space) *2);
                padding-right: calc(var(--space) *2);
                & .test-list {
                    line-height: calc(var(--space) *2);
                    height: calc(var(--space) *2);
                }
            }
        }
        & .side-item {
            background-color: var(--bg-color-3);
            padding: var(--space);
        }
        & .choice {
            display: inline-block;
            width: calc(var(--space) *2);
            height: calc(var(--space) *2);
            background: var(--bg-color-3);
            text-align: center;
            line-height: calc(var(--space) *2);
        }
        & .active {
            border: 1px solid var(--main-color);
        }
        & .heading {
            width: calc(var(--space) *2);
            text-align: center;
            padding: calc(var(--large-space) /10);
            background-color: var(--main-color);
            color: var(--white);
        }
        & .icons {
            background-color: var(--bg-color-3);
            padding: var(--space);
        }
        & .gray-font {
            color: var(--font-sub-color);
        }
        & .iconfont {
            font-size: .7em;
        }
    }
}
