.watchexam-page {
    & .watchexam {
        & .exam-total {
            & .examtitle-item {
                display: inline-block;
                width: 24%;
            }
        }
        & .input-width  {
            width: 28%;
            & input {
                width: 100%;
            }
            & select {
                width: 100%;
            }
        }
        & .btn-width {
            width: 10%;
        }
        & .btn-block {
            display: inline-block;
        }
        & .vertical-bottom {
            vertical-align: bottom;
        }
        & .bg-color-3 {
            background: var(--bg-color-3)
        }
        & .search-padding {
            padding: calc(var(--base-gap)/2) calc(var(--section-gap)/2);
        }
        & .input-padding {
            padding-right: calc(var(--space)*2);
        }
    }
}
