.watchexam-page {
    & .watchexam {
        & .exam-total {
            & span {
                display: inline-block;
                width: 20%;
            }
        }
        & .input-width  {
            width: 25%;
            & input {
                width: 100%;
            }
            & select {
                width: 100%;
            }
        }
        & .btn-block {
            display: inline-block;
        }
        & .vertical-bottom {
            vertical-align: bottom;
        }
        & .btn-width {
            width: 15%;
        }
        & .bg-color-3 {
            background: var(--bg-color-3)
        }
        & .search-padding {
            padding: calc(var(--base-gap)/2) calc(var(--section-gap)/2);
        }
    }
}
