.details-side {
    & .upload-knowledge {
        background: var(--custom-color-3);
    }

    & .h3 {
        & small {
            cursor: pointer;
        }
    }

    & .relevant-knowledge {
        & li {
            overflow: hidden;
            line-height: calc(var(--space)*2);
            margin-bottom: var(--space);

            & a {
                @apply --text-overflow;

                height: calc(var(--space)*2);
                margin: 0;
                display: block;
            }
        }
    }
}
