@media (max-width: 1137px) {
    .container {
        margin-left: 2em;
        margin-right: 2em;
    }

    .home-page {
        & .recommend-section {
            & .bottom .item {
                margin-right: 5px;
                padding-right: 5px;
            }
        }

        & .ranklist-section .icon {
            font-size: 0;
        }
    }

    .header .nav .item {
        padding: 0 calc(var(--space) * 2);
    }

    .main-list {
        & > ul > li .bottom .item {
            margin-right: 10px;
            padding-right: 10px;

            & .iconfont {
                display: none;
            }
        }
    }
}
