.ask-list {
    & ul {
        @apply --clearfix;
    }
    & li {
        padding-bottom: 0;
    }

    & .comment-operation {
        margin-top: 1em;
        padding-bottom: 1em;
        font-size: var(--small-font);
        border-bottom: 1px solid var(--border-color);
    }
    & .boutique {
        width: calc(var(--space) *2);
        height: calc(var(--space) *2);
    }

    & .comment-boutique {
        padding-left: calc(var(--small-font) *2);
    }
    & .comment-text {
        @apply --clearfix;

        & img {
            float: left;
            margin-right: 1em;
            width: 6em;
            height: 4em;
        }
    }
    & li.topic-item,
    & li.expert-item,
    & li.my-topic-item,
    & li.follow-item {
        float: left;
        width: 33.33%;
        padding-right: calc(var(--large-space) / 2);
        & .img {
            float: left;
            margin-right: calc(var(--large-space) / 1.5);
            width: calc(var(--large-space) * 3);
            max-height: calc(var(--large-space) * 3);
        }
        & h4 {
            margin-top: 0;
            margin-bottom: var(--space);
        }
        & .btn {
            @apply --fade-out;
            margin-top: var(--space);
            height: auto;
        }
        & .row {
            margin-top: var(--space);
        }
        & .sub-text {
            margin-top: var(--space);
        }
        &:hover {
            & .btn { @apply --fade-in}
        }
        & h4 {
            line-height: calc(var(--base-gap)/2);
        }
        & .btn {
            margin-top: 0;
            padding: 0 .4em;
            line-height: calc(var(--large-space));
        }
    }
    & li.expert-item {
        width: 49%;
        float: none;
        display: inline-block;
        vertical-align: top;
        & .img {
            margin-bottom: var(--large-space);
            width: calc(var(--large-space) * 4);
        }
    }
    & .cell-3 li.expert-item {
        width: 33.33%;
    }
    & .cell-4 li.topic-item {
        width: 25%;
        padding-bottom: var(--large-space);
    }
    & li.my-topic-item {
        width: 100%;
        & .img {
            margin-right: var(--space);
            width: calc(var(--large-space) * 2);
        }
        & .title-row {
            margin-bottom: var(--space);
            & h4 {
                margin-right: var(--space);
                margin-bottom: 0;
            }
        }
    }
    & li.follow-item {
        width: 33.33%;
        & .img {
            margin-right: var(--space);
            width: calc(var(--large-space) * 1.5);
        }
        & h4 {
            font-size: var(--font-size);
        }
        & .info {
            font-size: var(--small-font);
        }
    }
    &.min li.topic-item,
    &.min li.expert-item {
        padding-right: 0;

        & .img {
            width: 4em;
        }
    }

}
