.person-page {
    & .person-top {
        & .lv {
            @apply --lv;
        }
    }

    & .person-menu {
        background: var(--bg-color);
    }
}

.lecture-top .lv {
    background: var(--sub-color-1);
    color: white;
}
