.person-page {
    & .person-top {
        & .lv {
            display: inline-block;
            background: #E18D07;
            color: #FEFF00;
            text-shadow: 0 -1px 0 rgba(0,0,0,.3);
            padding: 0 var(--space);
        }
    }

    & .person-menu {
        background: var(--bg-color);
    }
}
