.subject-catalog {
    & li {
        border-left-color: var(--border-color);

        &:after,
        &:before {
            background-color: var(--custom-color-2);
        }
    }

    & .catalog-state {
        background-color: var(--bg-color-2);

        &:after {
            border-right-color: var(--bg-color-2);
        }
    }

    & li.catalog-main {
        &:after,
        &:before {
            background-color: var(--custom-color-4);
        }
        
        & .catalog-state {
            &:after {
                border-right-color: var(--bg-color-2);
            }
        }
    }

    & .catalog-state-info {
        background-color: var(--bg-color);
    }

    & .item {
        border-bottom-color: var(--border-color);
    }

    & .attribute {
        color: var(--font-tip-color);
        border-right-color: var(--border-color);

        & span.compulsory {
            color: var(--black);
            background-color: var(--bg-color-2);
        }
    }
}
.subject-detail-main {
    & .swiper-button-prev,
    & .swiper-button-next {
        background-color: var(--black);

        & .iconfont {
            color: var(--white);
        }
    }
}
