.person-page {
    & .person-content {
        margin-top: 1em;
    }

    & .person-main {
        overflow: hidden;
    }
    & .person-interest {
        & .title {
            margin-top: var(--large-space);
            margin-bottom: var(--large-space);
        }
    }
}
