.person-page {
    & .person-content {
        margin-top: 1em;
    }

    & .person-main {
        overflow: hidden;
    }
    & .person-interest {
        & .title-row {
            margin-top: var(--large-space);
            margin-bottom: var(--large-space);
        }
        & .main-list > ul .title { margin-top: var(--space);}
    }
}
