.person-page{
    & .person-menu {
        float: left;
        width: 13em;
        margin-right: var(--large-space);

        & li {
            border-bottom: 1px solid var(--white);
            line-height: 3;
        }

        & .iconfont {
            width: 2em;
            float: left;

            &.down,
            &.up {
                float: right;
                width: auto;
            }
        }

        & .up {
            display: none;
        }

        & .sub {
            text-indent: 2em;
        }

        & .menu-text,
        & .item {
            padding: 0 1em;
            cursor: pointer;

            &:hover {
                background: var(--white);
                color: var(--main-color);
            }
        }

        & .has-child .menu-text:hover {
            background: none;
            color: inherit;
        }
    }
}
