.changetopic-page {
    & .topic-category a {
        display: inline-block;
        margin: 0 calc(var(--space) / 2) calc(var(--space) / 2) 0;

        &.active {
            color: black;
        }
    }
}
