.changetopic-page {
    & .choose {
        padding: 0 1em;
        & .choose-btn {
            border-radius: 2em;
            background-color: var(--font-sub-color);
        }
    }
    & .topic-icon {
        position: absolute;
        top: 50%;
        left: 1%;
        margin-top: -.5em;
    }
}
