:root {
    --home-bar-height: 30em;
    --home-bar-gap: calc(var(--space) * 2);
}

.home-page {
    & section.section {
        padding: var(--large-space) 0;
        overflow: hidden;
        margin: 0;
    }

    & .home-tag {
        @apply --tag;
    }

    &.layout {

        & img {
            display: block;
            width: 100%;
            max-height: 100%;
        }

        & .content {
            @apply --clearfix;
            position: relative;
            height: 100%;
            background-color: var(--bg-color);

            & .title {
                @apply --text-overflow;
                margin: var(--space) 0 5px;
                font-size: var(--font-title);
            }

            & .bottom {
                & .iconfont {
                    margin-right: calc(var(--space) / 2);
                }
            }

        }
    }

    & .layout-1,
    & .layout-2,
    & .layout-3,
    & .layout-4,
    & .layout-5 {
        & .big-pic {
            float: left;
            width: 25%;
            height: var(--home-bar-height);

            & .img {
                height: 100%;
            }
        }

        & .base-list {
            @apply --clearfix;
            margin-left: 25%;
            height: var(--home-bar-height);
        }

        & .list-bar {
            width: 33.33333%;
            float: left;
            height: 100%;

            & .item {
                height: 50%;
                padding-left: var(--home-bar-gap);
                padding-bottom: calc(var(--home-bar-gap) + 2);

                &:nth-child(odd) {
                    padding-bottom: calc(var(--home-bar-gap) + 2 + var(--space));
                }
                &:nth-child(even) {
                    padding-top: var(--space);
                }
            }

            & .img {
                height: 100%;
            }
        }
    }

    & .layout-1 {
        & img {
            height: 100%;
        }
    }

    & .layout-2,
    & .layout-3 {
        & .big-pic {
            width: 40%;

        }

        & .base-list {
            margin-left: 40%;

        }

        & .list-bar.big-height {
            & .item {
                height: 100%;
            }

            & .img {
                height: 70%;
                margin-bottom: var(--large-space);
                background-color: var(--bg-color-3);
            }

        }

        & .descoration {
            line-height: 2;
            height: 6em;
            overflow: hidden;
            margin-bottom: calc(var(--font-size) - var(--small-font) + 1);

        }
    }

    & .layout-2 {
        & .content {
            background-color: var(--bg-color);
        }
    }

    & .layout-3 {
        & .big-pic {
            & .img {
                height: 70%;
            }

            & .bottom {
                height: 30%;
            }

            & .descoration {
                height: auto;
            }
        }

        & .list-bar {
            & .item {
                &:nth-child(odd) {
                    padding-bottom: calc(var(--home-bar-gap) / 2);
                }
                &:nth-child(even) {
                    padding-top: calc(var(--home-bar-gap) / 2);
                    padding-bottom: 0;
                }
            }
        }

        & .title {
            margin-bottom: calc(var(--space) * 2);
        }

        & .big-width {
            width: 66.66666%;

            & .img,
            & .bottom {
                float: left;
                width: 50%;
                height: 100%;
            }

            & .descoration {
                height: 6em;
            }

            & img {
                height: 100%;
            }

            & .item {
                &:nth-child(1) .bottom:before {
                    left: -2em;
                    border-right-color: var(--bg-color);
                }

                &:nth-child(2) .bottom:before {
                    right: -2em;
                    border-left-color: var(--bg-color);
                }
            }

            & .bottom {
                padding-top: var(--large-space);
                padding-bottom: var(--large-space);
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    border: 1em solid transparent;
                    top: 50%;
                    margin-top: -1em;
                    z-index: 2;
                }


            }
        }

        & .bottom {
            padding: 1em calc(var(--space) * 2);
            background: var(--bg-color);
        }

        & .icon-item {
            display: inline-block;
            vertical-align: middle;
            margin-right: var(--large-space);

            &:last-child {
                margin: 0;
            }
        }

        & .list-bar.big-height {

            & .item {
                padding-bottom: var(--home-bar-gap);

            }
            & .img {
                height: 50%;
                margin-bottom: 0;
            }

            & .bottom {
                height: 50%;
                box-sizing: content-box;
                padding-bottom: 0;
                padding-top: var(--home-bar-gap);
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    border: 1em solid transparent;
                    top: -2em;
                    left: 50%;
                    margin-left: -1em;
                    border-bottom-color: var(--bg-color);
                }
            }

            & .descoration {
                height: 8em;
            }
        }
    }

    & .layout-4 {
        @apply --clearfix;

        & .big-pic {
            width: 50%;

            & .item-bar {
                height: 50%;
            }

            & .above {
                margin-bottom: calc(var(--home-bar-gap) / 2);
                padding-bottom: calc(var(--home-bar-gap) / 2);

            }

            & .below {
                & .item {
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding-bottom: 4em;

                    &:nth-child(odd) {
                        padding-right: calc(var(--home-bar-gap) / 2);
                    }
                    &:nth-child(even) {
                        padding-left: calc(var(--home-bar-gap) / 2);
                    }
                }
            }
        }
        & .big-height {
            width: 25%;
            float: left;
            height: var(--home-bar-height);

            & .content {
                padding-bottom: 4em;
            }
        }
        & .base-list {
            width: 25%;
            float: left;
            margin: 0;
        }

        & .list-bar {
            width: 100%;
            padding-left: 0;
            float: none;

        }
    }

    & .layout-5 {
        & .base-list {
            margin-left: -var(--home-bar-gap);
        }

        & .list-bar {
            width: 25%;
        }
    }

    & .min-banner {
        margin: var(--space) 0;

        & li {
            display: inline-block;
            border-right: 1px solid var(--border-color);

            &:last-child {
                border: none;
            }
        }
        & img {
            display: block;
        }
    }

    & .content {
        position: relative;
        transition: all .2s linear;

        &:hover {
            & .detail-wrapper {
                @apply --fade-in;

                z-index: 1;
                height: calc(var(--font-size) * 1.8 * 2 + 1);


            }

            & .title {
                /*font-weight: bold;*/
            }

            & img {
                transform: scale(1.1);
            }
        }


        & .detail-wrapper {
            @apply --fade-out;

            background-color: white\0;
            background-color: rgba(255,255,255,.95);
            transition: all .2s linear;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            z-index: -1;
            padding: var(--space) 1em;
            height: 0;
            line-height: 1.8;

        }
    }
}
