.home-page {
    & .lecture-list {
        @apply --clearfix;

        & li {
            float: left;
            width: 33.33333%;
            margin-bottom: 1em;
        }
        & .lecture-pic,
        & .lecture-info {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
        }

        & .lecture-pic {
            & img {
                height: 10em;
            }
        }

        & .lecture-info {
            padding-left: var(--large-space);
            line-height: 2;
            font-size: var(--small-font);
        }

        & .title {
            font-size: var(--h3);
        }
    }
}
