.home-page,.person-page {
    & .news-list {
        padding: calc(var(--font-size) * 1) 0;
        line-height: calc(var(--font-size) * 2);
        border-width: 1px 0;
        border-style: solid none;
        border-color: var(--border-color);

        & ul {
            height: calc(var(--font-size) * 2);
            overflow: hidden;
        }

        & li {
            @apply --text-overflow;
        }

        & .title {
            float: left;
            margin-right: var(--space);
        }

        & .navigator {
            text-align: right;
            float: right;
        }

        & .icon {
            @apply --transition;
            
            display: inline-block;
            background-color: var(--bg-color);
            font-size: var(--small-font);
            padding: 0 1em;
            margin-right: -.3em;
            cursor: pointer;

            &:hover {
                background-color: var(--bg-color-2);
            }
        }

        & a {
            color: inherit;
        }
    }
}
