.course-page-new {
    & .course-catalog {
        margin: 1em 0;

        & .list,
        & .course-menu-child {
            @apply --clearfix;
            width: 100%;
            position: relative;

            & li,
            & .item {
                @apply --transition;

                float: left;
                padding: var(--space) var(--large-space);
                cursor: pointer;
            }

            & li {
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                margin-bottom: -1px;
                margin-left: -1px;

                &:hover,
                &.active {
                    background: white;
                    border-color: var(--border-color);
                    border-bottom-color: var(--white);
                    color: var(--main-color);

                }
            }
        }

        & .course-menu-child {
            border: 1px solid #dedede;
            border-top: none;
            background: white;

            & .item {
                font-size: var(--small-font);
                padding: var(--space) calc(var(--space) * 2);

                &:hover,
                &.active {
                    color: var(--main-color);
                }
            }


        }


    }
}
