.class-details-page {
    & .schedule {
        & .block {
            background: var(--bg-color);
            color: var(--font-tip-color);
        }

        & .schedule-list {
            & .data {
                text-align: right;
                width: 8%;
            }

            & .right-line {
                width: 85%;
                border-left:1px solid var(--border-color);
                padding-top: calc(var(--space)*2);

                &:last-child {
                    padding-bottom: calc(var(--space)*4);
                }

                & .time {
                    width: 25%;

                    & .spot {
                        display: inline-block;
                        width: calc(var(--space)*1.5);
                        height: calc(var(--space)*1.5);
                        border-radius: 100%;
                        background: #6ea9f4;
                        border: 4px solid #e6f1ff;
                        margin-left: -calc(var(--space)/1.2);
                        margin-right: calc(var(--space)*2);
                    }
                }

                & .right-info {
                    width: 70%;
                    border-bottom: 1px solid var(--border-color);
                    padding-bottom: calc(var(--space)*3);

                    & .icon-see {
                        color: var(--main-color);
                    }

                    & .icon-down{
                        color: var(--custom-color-4);
                    }

                    & .gray-line {
                        color: var(--border-color);
                    }

                    & .schedule-tit {
                        height: calc(var(--space)*2);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    & .resources {
        & .schedule-online {
            & li {
                overflow: hidden;
                padding: calc(var(--space)*2) 0;
                border-bottom: 1px solid var(--border-color);

                & .icon-see {
                    color: var(--main-color);
                }

                & .icon-down{
                    color: var(--custom-color-4);
                }

                & .gray-line {
                    color: var(--border-color);
                }

                & .schedule-online-left {
                    max-width: 25%;
                }

                & .schedule-online-tit {
                    height: calc(var(--space)*2);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 60%;
                }
            }
        }
    }

    & .gallery {
        & .gallery-banner {
            box-sizing: content-box;
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            & .gallery-item {
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                text-align: center;
                margin-right: .5em;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        & .gallery-arrow {
            background-color: var(--black);
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            cursor: pointer;
            padding-left: .5em;
            padding-right: .5em;
            width: 2.55em;
            overflow: hidden;
            transition: all .2s linear;
            opacity: .5;
            &.gallery-arrow-prev {
                left: 0;
            }
            &.gallery-arrow-next {
                right: .5em;
            }
            & .iconfont {
                color: var(--white);
                position: absolute;
                top: 50%;
                margin-top: -.68em;
                font-size: 1.7em;
            }
        }
    }

}
