.person-list {
    @apply --clearfix;
    & .filter {
        @apply --clearfix;

        line-height: 1em;
        margin-bottom: 1.2em;
        font-size: var(--small-font);
        padding: 1em 0;
        background: var(--bg-color);

        & .m-left {
            margin-left: var(--large-space);
        }

        & .pull-left {
            padding-right: var(--large-space);
            border-right: 1px solid var(--border-color);

            &:last-child {
                border: none;
            }
        }

        & .item {
            display: inline-block;
            padding: 0 var(--space);
            cursor: pointer;

            &:last-child {
                border: none;
            }

            &:hover > span{
                color: var(--main-color);
            }
        }
        & .item.active {
            color: var(--main-color);
        }
    }

    & .list-search {
        @apply --clearfix;
        & .input {
            float: left;
            width: 30%;
        }
        & .btn {
            padding-left: calc(var(--large-space) / 2);
            padding-right: calc(var(--large-space) / 2);
        }
    }

    & .list-text {
        @apply --clearfix;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
        & li {
            @apply --clearfix;
            padding-top: calc(var(--large-space) / 1.5);
            padding-bottom: calc(var(--large-space) / 1.5);
        }
        & .title-row {
            float: left;
            width: 55%;
            & .iconfont {
                float: left;
                margin-right: calc(var(--space) / 2);
                margin-left: calc(var(--space) / 2);
                font-size: calc(var(--font-size) * 3);
            }
        }
        & .title {
            font-size: var(--font-title);
            & span {
                font-size: var(--small-font);
            }
        }
        & .state {
            float: left;
            margin-top: calc(var(--space) * 1.5);
            width: 20%;
            text-align: right;
        }
        & .btn-row {
            float: left;
            width: 25%;
            text-align: right;
            & .btn {
                margin-top: calc(var(--space) / 2);
                padding-left: calc(var(--large-space) / 2);
                padding-right: calc(var(--large-space) / 2);
            }
            & .iconfont {
                margin: calc(var(--space) / 2) 0 0 1em;
                cursor: pointer;
                width: 1em;

                &:hover {
                    color: var(--color-error);
                }
            }
        }
        & .tag {
            padding: calc(var(--space) / 2.5) calc(var(--space) / 2);
            color: var(--font-tip-color);
            font-size: var(--small-font);
            border: 1px solid var(--border-color);
            background-color: var(--bg-color);
        }
        & .time {
            margin-top: var(--space);
            color: var(--font-tip-color);
            font-size: var(--small-font);
            white-space: nowrap;
        }

        & .img {
            float: left;
            margin-right: var(--large-space);
            max-width: calc(var(--font-size) * 5);
            width: auto;
        }
        & .info-row {
            float: left;
            margin-top: var(--large-space);
            width: 100%;
        }
        & .info-block {
            float: left;
            margin-left: calc(var(--large-space) * 2);
            width: 25%;
            & .iconfont {
                float: left;
                margin-right: calc(var(--space) / 2);
                margin-bottom: var(--space);
                font-size: var(--h4);
            }
            & .sub-text {
                margin-top: calc(var(--space) / 2);
            }
        }
    }
}
