.knowledge-list {
    & li {
        cursor: pointer;
        overflow: hidden;
        padding: calc(var(--space)*2) 0;
        border-bottom: 1px solid var(--border-color);

        & .iconfont {
            font-size: 2.8em;
        }

        & .knowledge-tit-con {
            overflow: hidden;

            & .star-bar {
                font-size: 1em;
            }

            & .knowledge-tit {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                height: calc(var(--space)*2);
                display: inline-block;
                margin-right: var(--space);
            }

            & .text-tips {
                padding-top: var(--space);

                & span {
                    display: inline-block;
                    padding-right: calc(var(--space)*2);
                }
                & span:last-child {
                    padding-right: 0;
                }
            }
        }

        & .knowledge-tit-out {
            width: 10%;

            & .iconfont {
                margin-top: calc(var(--space)*1.5);
            }
        }
        & .img {
            float: left;
            width: 5em;
            height: 3em;
            text-align: center;
            border: 1px solid var(--border-color);
            & img {
                max-height: 100%;
            }
        }
    }
}

.main-list {
    & .knowledge-list {
        & li {
            padding: 0 var(--main-list-gap) 0 0;
            border-bottom: none;
            cursor: default;

            & .knowledge-box {
                padding: calc(var(--space)*2);
                border: 1px solid var(--border-color);
            }
            & a {
                color: var(--font-color);
            }
        }
    }
    & .activity-item-box li {
        margin-bottom: calc(var(--main-list-gap) + 1);
    }
}
