.page-cal {
    & .page-cal-img {
        width: 30%;

        & img {
            width: 100%;
            height: auto;
        }
    }

    & .page-cal-con {
        width: 66%;

        & .form-row {
            & span {
                float: left;
                line-height: 2.5em;
            }
        }

        & .content {
            width: 80%;
            margin-left: 6em;

            & .input {
                width: 100%;
            }

            &.icon-choice {
                position: relative;

                & .input-tips {
                    padding-right: 3.2em;
                }

                & i {
                    position: absolute;
                    right: 0.6em;
                    top: 0.8em;
                    cursor: pointer;
                    font-style: normal;
                }
            }
        }

        & .modal-tips {
            padding-left: 7.5em;
            margin-top: -1em;
        }

        & .modal-textarea {
            position: relative;

            & i {
                position: absolute;
                right: 0.6em;
                bottom: 0.6em;
                font-style: normal;
                font-size: var(--small-font);
            }

            & textarea {
                padding-bottom: 1.4em;
            }
        }
    }
}
