.knowledge-side {
    & .page-side {
        background: none;
        padding-right: 0;

        & .side-box {
            border: 1px solid var(--border-color);
            padding: var(--space);
            margin-bottom: calc(var(--space)*3);
        }

        & .btn.knowledge-upload {
            height: auto;
            line-height: 1;
            padding: calc(var(--space) / 2) 0;
            margin-bottom: var(--space);


            & .text {
                text-align: left;
                padding-left: 1em;
                border-left: 1px solid var(--fade-color);
            }

            & .small-font {
                padding-top: 0.5em;
                opacity: 0.5;
                filter: alpha(opacity=50);
            }
        }

        & .statistics {
            & p {
                text-align: center;
                margin: 0;

                & b {
                    color: var(--custom-color-2);
                    font-size: calc(var(--font-size)*1.5);
                }
            }

            & .pull-left {
                width: 50%;

                & b {
                    color: var(--custom-color-2);
                    padding-bottom: calc(var(--space)/2);
                    display: inline-block;
                }
            }
        }

        & .knowledge-talent {
            & b {
                color: var(--custom-color-3);
            }
        }

        & .charts {
            & .h3 {
                & small {
                    color: var(--font-tip-color);
                }
            }

            & .charts-img {
                margin-right: var(--space);

                & img {
                    width: calc(var(--space)*4);
                    height: calc(var(--space)*4);
                }
            }

            & .charts-user {
                width: 40%;
                line-height: calc(var(--space)*2.4);
                margin-top: -calc(var(--space)/2);
            }

            & .charts-list {
                margin-bottom: 1em;

                &:nth-of-type(even) {
                    background: white;
                }
            }

            & .charts-nub {
                & b {
                    width: calc(var(--space)*2);
                    height: calc(var(--space)*2);
                    line-height: calc(var(--space)*2);
                    font-weight: normal;
                    background: #ddd;
                    display: inline-block;
                    text-align: center;

                    &.charts01 {
                        color: white;
                        background: #f14949;
                    }

                    &.charts02 {
                        color: white;
                        background: #f49542;
                    }

                    &.charts03 {
                        color: white;
                        background: #efc93c;
                    }
                }
            }
        }
    }

    & .layout-mt {
        margin-top: var(--large-space);
    }
}
