.edit-info-page {
    & .tabs {
        margin-bottom: var(--large-space);
    }

    & .base-info {
        & .layout-mr {
            display: inline-block;
        }

        & .pic {
            float: left;
            margin-right: var(--large-space);
            width: 10em;
            position: relative;

            & img {
                width: 100%;
                display: block;
            }
        }

        & .info {
            overflow: hidden;
        }
    }

    & .phone-number-list {
        margin-bottom: var(--large-space);

        & li {
            @apply --clearfix;

            border-bottom: 1px solid var(--border-color);
            padding: var(--space) 0;

            & .item {
                display: inline-block;
                border-right: 1px solid var(--border-color);
                padding: 0 1em;

                &:last-child {
                    border: none;
                }
            }
        }
    }
}

.first-login {
    & .dialog-layout {
        position: absolute;
        z-index: 1005;
        padding: 20px;
        top: 100px;
        left: 50%;
        margin-left: -350px;
        width: 700px;
        box-shadow:0 2px 20px -5px rgba(0,0,0,.8);
        background-color: white;
    }
    & .form-row {
        margin-bottom: 10px;
        & label {
            display: inline-block;
            width: 70px;
            text-align: right;
            color: var(--font-sub-color);
        }
        & .inline-block {
            height: 35px;
            line-height: 35px;
        }
        & textarea {
            width: 100%;
        }
    }
}
