.class-register-page {
    & .class-register-banner {
        background-size: cover;
        background-position: center center;
        padding: var(--large-space) 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            opacity: .6;
            filter: alpha(opacity=60);
            left: 0;
            top: 0;
            z-index: 0;
        }

        & .container {
            position: relative;
        }

        & .cover {
            width: 25%;

            & img {
                width: 100%;
                height: auto;
            }
        }

        & .banner-con {
            color: white;
            width: 50%;
            padding-left: var(--large-space);
            padding-top: 1em;

            & h2 {
                margin: 0;
            }

            & .tag-btn {
                color: var(--font-color);
                border: none;
            }
        }

        & .banner-btn {
            width: 25%;
            padding-top: calc(var(--base-gap)*2);
        }
    }

    & .page-main  {
        padding-top: var(--large-space);

        & .form {
            margin-top: var(--large-space);
        }

        & .form-row {
            & label {
                width: calc(var(--large-space)*8);
            }

            & .content {
                margin: 0 calc(var(--large-space)*5) 0 calc(var(--large-space)*9) !important;
            }
        }
    }

    & .page-side {

        & .register-tel {
            padding-top: var(--space);
        }

        & .qaq-list {
            & li {
                margin-bottom: var(--large-space);
            }

            & .qaq-tit {
                padding-bottom: var(--space);
            }

            & .qaq-con {
                font-size: var(--small-font);
                line-height: var(--large-space);
                color: var(--font-sub-color);
            }
        }

        & .train-notice {
            padding-top: var(--space);
            display: block;

            & span {
                display: inline-block;
                width: 80%;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: calc(var(--space)*2);
                overflow: hidden;
            }
        }
    }
}
