.activity-page {
    & .activity-filter {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    & .activity-tabs {
        & ul {
            background: #efefef;
            overflow: hidden;
            display: inline-block;

             & li {
                 float: left;
                 cursor: pointer;
                 padding: var(--space) calc(var(--space)*3);

                 &.active {
                     color: white;
                     background: var(--main-color);
                 }

                 &:hover {
                     color: white;
                     background: var(--main-color);
                     transition: all 0.3s;
                 }
             }
        }
    }
}
