.activity-page {
    & .activity-filter {
        padding-top: var(--large-space);
        padding-bottom: var(--large-space);
        background-color: color(var(--sub-color-1) alpha(80%));
    }

    & .activity-tabs {
        height: var(--search-bar-height);
        line-height: var(--search-bar-height);
        width: 50%;
        max-width: 40em;

        & li {
            float: left;
            width: 25%;
            text-align: center;
            font-size: var(--h4);
            color: var(--white);
            cursor: pointer;
            transition: all .2s linear;

            &.active {
                color: var(--white);
                border-radius: var(--search-bar-height);
                background-color: var(--bg-color)\0;
                background-color: rgba(255,255,255,.3);
            }
        }
    }
}
