.activity-page{
    & .main-list {
        & img {
            width: 100%;
        }

        & .arrow-box {
            position: relative;

            & .arrow-left {
                position: absolute;
                top: 30%;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                height: 5em;
                width: 1.5em;
                text-align: center;
                z-index: 99;
                line-height: 5em;
                cursor: pointer;
            }

            & .arrow-right {
                position: absolute;
                top: 30%;
                right: 3em;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                height: 5em;
                width: 1.5em;
                text-align: center;
                z-index: 99;
                line-height: 5em;
                cursor: pointer;
            }
        }
    }

    & .activity-item-box {
        & li {
            margin-bottom: 2em;

            & .activity-item {
                border: 1px solid var(--border-color);
                padding: var(--space);

                & .activity-item-icon {
                    font-size: calc(var(--font-size)*3);
                    margin-right: var(--space);
                }

                & a {
                    margin-bottom:  var(--space);
                    color: var(--font-color);
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }

    & .activity-item-exam {
        & .activity-item-icon {
            color: #2a5483;
        }
    }

    & .activity-item-class {
        & .activity-item-icon {
            color: #3f832a;
        }
    }

    & .activity-item-research {
        & .activity-item-icon {
            color: #977d27;
        }
    }
}
