.activity-page{
    & .activity-list .btn-prev,
    & .activity-list .btn-next {
        margin-top: -calc(var(--large-space)/2);
    }
    & .main-list {
        & img {
            width: 100%;
        }

        & .arrow-box {
            position: relative;

            & .arrow-left {
                position: absolute;
                top: 30%;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                height: 5em;
                width: 1.5em;
                text-align: center;
                z-index: 99;
                line-height: 5em;
                cursor: pointer;
            }

            & .arrow-right {
                position: absolute;
                top: 30%;
                right: 3em;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                height: 5em;
                width: 1.5em;
                text-align: center;
                z-index: 99;
                line-height: 5em;
                cursor: pointer;
            }
        }
    }

    & .activity-item-box {
        & li {
            margin-bottom: 2em;

            & .activity-item {
                @apply --transition;

                border: 1px solid var(--border-color);
                padding: var(--space);

                &:hover {
                    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
                }

                & .activity-item-icon {
                    font-size: calc(var(--font-size) * 2.5);
                    margin-right: calc(var(--space) / 2);
                }

                & a {
                    color: var(--font-color);
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }

    & .activity-item-exam {
        & .activity-item-icon {
            color: #2a5483;
        }
    }

    & .activity-item-class {
        & .activity-item-icon {
            color: #3f832a;
        }
    }

    & .activity-item-research {
        & .activity-item-icon {
            color: #977d27;
        }
    }
    & .swiper-pic-list {
        margin: -var(--large-space) -var(--large-space) 0;
        width: auto;

        & .main-list {
            margin: calc(var(--large-space) + 1) var(--large-space) 0;
        }
        & .btn-prev {
            left: var(--large-space);
        }
        & .btn-next {
            right: var(--large-space);
        }
    }
}
