.activity-page{
    & .main-list .img {
        height: 22em;/* 临时设置 */
    }
    & .img img {
        max-width: 31em;/* 临时设置 */
    }

    & .item {
        cursor: pointer;
        &.active {
            color: var(--main-color);
        }
    }
}
