.live-details-page{
    & .live-details-main {
        & .lecturer {
            width: 60%;
            float: left;

        }

        & .user-pic {
            width: calc(var(--space)*5);
            height: calc(var(--space)*5);
            line-height: calc(var(--space)*5);
            color: var(--main-color);

            & .iconfont {
                font-size: 2em;
            }
        }

        & .time {
            width: 40%;
        }

        & .live-details-teacher {
            overflow: hidden;
        }
    }
}
