.achievement-content {
    height: 100%;

    &.main-side {
      & .achievement-side {
        padding-top: var(--nav-height);
      }

      & .achievement-head {
        margin-left: 0;
        position: relative;
        z-index: 2;
      }
    }

    & .achievement-side {
        width: 20%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background: var(--bg-color);
        overflow: auto;

        & .side-top {
            height: var(--nav-height);
            line-height: var(--nav-height);
            text-align: center;
            background: var(--border-color);

            & .time {
                font-size: var(--font-title);

                & .time {
                    width: 5em;
                    text-align: left;
                    margin-left: calc(var(--space) / 2);
                }
            }

            & .icon-time {
                margin-right: calc(var(--space) / 2);
                vertical-align: middle;
            }
        }

        & .content {
          padding: 0 var(--large-space);
          margin-top: var(--large-space);
        }

        & .list {
            padding: 0 var(--large-space) var(--large-space);
            margin-top: var(--base-gap);

            & .list-title {
                margin-bottom: var(--large-space);
            }

            & li {
                margin-top: calc(var(--base-gap) + 1);

                &:first-child {
                    margin-top: 0;
                }

            }
        }

        & .min-btn-groups {
            position: relative;

            & .items-pagination {
                position: absolute;
                top: 50%;
                margin-top: -2em;
                right: -1em;
            }

            & .iconfont {
                line-height: 2em;
            }
        }

        & .list-item {
            @apply --transition;

            display: inline-block;
            text-align: center;
            margin-right: var(--space);
            margin-bottom: 1em;
            background: white;
            width: 1.8em;
            height: 1.8em;
            line-height: 1.8em;
            box-sizing: content-box;
            cursor: pointer;
            border-radius: 100%;
            font-size: 12px;

            &.check {
                background: var(--color-warn);
                color: white;
            }

            &.current {
                background: var(--main-color);
                color:white;
                box-shadow: 0 0 5px var(--font-tip-color);
                border: 2px solid white;
            }

            &.active,
            &:hover {
                background: var(--main-color);
                color:white;
            }

            &:nth-last-of-type(6) ~ .list-item {
                margin-bottom: 0;
            }

        }

    }

    & .achievement-main {
        margin-left: 20%;
        padding: var(--main-list-gap);
        overflow: auto;
        position: absolute;
        width: 80%;
        top: var(--nav-height);
        bottom: 0;

        & .preview-list {
            line-height: 2;
            margin-bottom: var(--base-gap);

            & dl {
                @apply --clearfix;

            }

            & dd {
                width: 48%;
                float: left;
                margin-bottom: var(--space);
                margin-right: 4%;
                white-space: nowrap;

                & label {
                    display: inline-block;
                    width: 100%;
                    vertical-align: top;
                }

                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            & input {
                height: 2em;
                line-height: 2em;
                margin-right: var(--space);
                vertical-align: top;
            }
        }

        & .show-answer {
            font-size: var(--small-font);
            padding: 0 0 1em;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: var(--section-gap);
            color: var(--color-ing);
        }

        & .question-number {
            position: absolute;
            font-weight: bold;
        }

        & .question-type-item {
            & p.question {
                @apply --transition;
            }

            &.checked p.question{
                border-left: 5px solid var(--color-warn);
                padding-left: var(--large-space);
            }

        }

    }

    & .achievement-head {
        margin-left: 20%;
        background: black;
        color: white;
        height: var(--nav-height);
        line-height: var(--nav-height);
        padding: 0 var(--large-space);

        & .text-right {

            & ul {
                line-height: 1em;
            }
        }

        & .head-info li {
            display: inline-block;
            margin-right: 1em;
            padding-right: 1em;
            border-right-color: rgba(255,255,255,.3);

            &:last-child {
                border: none;
            }
        }
    }

    & .bottom-favorite {
        font-size: var(--small-font);
        text-align: right;
        margin-top: var(--base-gap);
        padding-top: var(--space);
        border-top: 1px solid var(--border-color);

        & a {
            color: inherit;
        }

        & .item {
            display: inline-block;
            margin-left: var(--base-gap);
        }

        & .checked {
            font-weight: bold;
            color: var(--color-warn);
        }

    }

    & .answer-options {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        margin-right: 10%;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }

    & img {
        max-width: 100%;
    }

    & .mark-row {
        padding: 1em 0;
        margin-top: 1em;
    }

    & .answer-row {
        margin-bottom: var(--section-gap);
    }

    & .reading-comprehension-view {
        & .choise {
            /*margin-top: var(--base-gap);*/
        }
    }
}

.slider-question {
    text-align: center;

    & .item {
        display: inline-block;
        margin-right: 1em;
        font-size: var(--h1);
        position: relative;
        cursor: pointer;
        color: var(--font-tip-color);

        &:last-child {
            margin-right: 0;
        }

        & .iconfont {
            @apply --transition;
        }

        & .full {
            @apply --fade-out;

            position: absolute;
            left: 0;
            top: 0;
        }

        &:hover {
            & .line {
                @apply --fade-out;
            }

            & .full {
                @apply --fade-in;

                color: var(--main-color);
            }
        }
    }
}
