:root {
    --clearfix: {
        &::after {
            display: table;
            content: '';
            clear: both;
        }
    }

    --text-overflow: {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    --box-shadow: {
        box-shadow: 0 0 25px -5px rgba(0,0,0,.8);
    }

    --fadeIn {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    --fadeOut {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

[class*=-color] {
    transition: all .2s linear;
}

.container {
    margin-left: calc(var(--large-space) * 2);
    margin-right: calc(var(--large-space) * 2);
}

.clearfix {
    @apply --clearfix;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.hide,
[hidden] {
    display: none;
}

.fadeIn {
    @apply --fadeIn;
}

.fadeOut {
    @apply --fadeOut;
}

.transparent {
    background: none;
    border: none;
    outline: none;
}

.text-overflow {
    @apply --text-overflow;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.empty {
    font-size: var(--small-font);
    padding: calc(var(--space) / 2);
}

.no-bg {
    background: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: black;
    filter: alpha(opacity=35);
    opacity: 0.35;
    display: none;

    &.transparent {
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

.pointer {
    cursor: pointer;
}

.border {
    border-width: 0;
    border-style: solid;

    &.left {
        border-left-width: 1px;
    }
    &.right {
        border-right-width: 1px;
    }
    &.top {
        border-top-width: 1px;
    }
    &.bottom {
        border-bottom-width: 1px;
    }
    &.around {
        border-width: 1px;
    }
    &.dashed {
        border-style: dashed;
    }
}

.text-tips {
    font-size: var(--small--font);
    font-weight: normal;
}

.m-left {
    margin-left: var(--space);
}
.m-right {
    margin-right: var(--space);
}
.m-top {
    margin-top: var(--space);
}
.m-bottom {
    margin-bottom: var(--space);
}

.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}

.no-margin {
    margin: 0;
}

.error {
    color: var(--danger-color);
}

.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.common-title {
    font-size: var(--font-title);
    font-weight: bold;
    margin: var(--space) 0;

    &.inline-block {
        margin-right: var(--large-space);
    }
}

.tip-text {
    font-size: var(--small-font);
}

.top.top-bg-img {
    background-image: url(../images/top-bg-img.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.circle {
    border-radius: 100%;
    overflow: hidden;
}
