:root {
    --clearfix: {
        &::after {
            display: table;
            content: '';
            clear: both;
        }
    }

    --text-overflow: {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    --box-shadow: {
        box-shadow: 0 0 25px -5px rgba(0,0,0,.5);
    }

    --fade-in: {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    --fade-out: {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    --transition: {
        transition: all .2s linear;
    }

    --lv: {
        display: inline-block;
        background: #E18D07;
        color: #FEFF00;
        text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        padding: 0 var(--space);
    }
}

[class*=-color] {
    transition: all .2s linear;
}


/* layout */
.container {
    margin-left: calc(var(--large-space) * 2);
    margin-right: calc(var(--large-space) * 2);
}

section.section {
    margin-top: var(--section-gap);
    margin-bottom: var(--section-gap);

    &:first-child {
        margin-top: var(--large-space);
    }
}

.clearfix {
    @apply --clearfix;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.m-left {
    margin-left: var(--space);
}
.m-right {
    margin-right: var(--space);
}
.m-top {
    margin-top: var(--space);
}
.m-bottom {
    margin-bottom: var(--space);
}
.layout-mr {
    margin-right: var(--base-gap);
}

.layout-mb {
    margin-bottom: calc(var(--base-gap) + 1);
}

.layout-ml {
    margin-left: var(--base-gap);
}

.layout-mt {
    margin-top: calc(var(--base-gap) + 1);
}

.layout-mt-small {
    margin-top: calc(var(--space) * 2);
}

.layout-mb-small {
    margin-bottom: calc(var(--space) * 2);
}

.layout-ml-small {
    margin-left: calc(var(--space) * 2);
}

.layout-mr-small {
    margin-right: calc(var(--space) * 2);
}

.mt-1 {
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.ml-1 {
    margin-left: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}

.no-margin {
    margin: 0;
}

.vertical-top {
    vertical-align: top;
}

.hr {
    margin: var(--large-space) 0;
    display: block;
    height: 0;
    border-bottom: 1px solid var(--border-color);
}

/* display */
.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.hide,
.hidden,
[hidden] {
    display: none !important;
    visibility: hidden;
}

.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.fade-in {
    @apply --fade-in;
}

.fade-out {
    @apply --fade-out;
}

.transparent {
    background: none;
    border: none;
    outline: none;
}

.overflow {
    overflow: hidden;
}

.empty {
    font-size: var(--small-font);
    padding: calc(var(--space) / 2);
    text-align: center;
    margin: var(--large-space) 0;
    color: var(--font-tip-color);
}

.no-bg {
    background: none;
}

.pointer {
    cursor: pointer;
}

.relative {
  position: relative;
}

.edit-div {
    white-space: nowrap;
    height: 2em;
    line-height: 2;
    overflow: hidden;
    max-width: 100%;

    &:focus {
        outline: none;
        border: none;
    }
}
.color-error,
.color-pass,
.color-ing {
    &.bg,
    &.border {
        padding: calc(var(--space) / 2) var(--space);
        font-size: var(--small-font)
    }
}


/* text */
.text-overflow {
    @apply --text-overflow;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-tips {
    font-size: var(--small-font);
    font-weight: normal;
}

.error {
    color: var(--danger-color);
}

.common-title {
    font-size: var(--font-title);

    &.inline-block {
        margin-right: var(--space);
    }
}

.small-font {
    font-size: var(--small-font);
}

/* control */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: black;
    filter: alpha(opacity=35);
    opacity: 0.35;
    display: none;

    &.transparent {
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

.border {
    border-width: 0;
    border-style: solid;

    &.left {
        border-left-width: 1px;
    }
    &.right {
        border-right-width: 1px;
    }
    &.top {
        border-top-width: 1px;
    }
    &.bottom {
        border-bottom-width: 1px;
    }
    &.around {
        border-width: 1px;
    }
    &.dashed {
        border-style: dashed;
    }
    &.radius {
        border-radius: 3px;
    }
}

.circle {
    border-radius: 100%;
    overflow: hidden;
}

.strong {
    font-weight: bold;
}

/* other */
.top.top-bg-img {
    background-image: url(../images/top-bg-img.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.user-picture img {
    max-width: 100%;
    max-height: 5em;
}
