:root {
    --input-height: 36px;
}

.btn {
    display: inline-block;
    padding: calc(var(--font-size1) / 2) calc(var(--space) / 1);
    font-size: var(--font-size1);
    cursor: pointer;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    & i:not(:last-child) {
        margin-right: calc(var(--space) / 2);
    }

    &.large {
        padding: calc(var(--font-size1) / 2) calc(var(--font-size1) * 2);
    }

    &.block {
        display: block;
        text-align: center;
    }

    &.reverse {
        border-style: solid;
        border-width: 1px;
    }
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.h1 {
    font-size: var(--font-size6);
    font-weight: 100;
    display: inline;
}

.hr {
    margin: var(--font-size1) 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    & th {
        text-align: left;
        padding: calc(var(--font-size4) / 2);
        font-weight: 100;
        border-width: 1px;
        border-style: solid;
    }

    & td {
        border-width: 1px;
        border-style: solid;
        padding: calc(var(--font-size2) / 2);
        position: relative;
    }

    & a {
        cursor: pointer;
        color: var(--color21);
        text-decoration: none;
    }

    &.no-padding {
        & td {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.tag-group {
    font-size: calc(var(--font-size1) - 1);

    & .tag-item {
        display: inline-block;
        padding: 0 0 0 calc(var(--space) / 2);
        vertical-align: middle;
        margin:0 0 calc(var(--space) / 2) 0;
        cursor: pointer;
        line-height: var(--font-size4);

        & .text {
            display: inline-block;
            vertical-align: middle;
        }

        & .remove {
            font-size: calc(var(--font-size1) * 0.825);
            padding:0 calc(var(--space) / 5);
            display: inline-block;
            vertical-align: middle;
            margin-left: calc(var(--space) / -5);

            &:hover{
                background: rgba(0,0,0,.2);
            }
        }


    }
}

.viewport .pagination {
    text-align: right;
    margin-top: 10px;

    & .btn {
        background: none;
        line-height: 1;
        padding: 0;
    }

    & .btn:not(:last-child) {
        margin-right: var(--font-size1);
    }

    & .turn {
        border-width: 1px;
        border-style: solid;
        display: inline;
        padding: calc(var(--space) / 3) calc(var(--space) / 2);
        margin-right: var(--font-size1);
        color: color(var(--color11) blackness(50%));

        & input {
            border-width: 0;
            font-size: var(--font-size2);
            width: 2em;
            text-align: center;
            outline: none;
            cursor: pointer;
            color: var(--color-black);
            background: none;
        }
    }
}

.step-row {
    overflow: hidden;
    height: var(--input-height);
    margin: var(--space) 0;

    &.cell4 {
        & .step-item {
            width: 25%;
        }
    }

    & .step-item {
        vertical-align: middle;
        float: left;
        position: relative;
        line-height: var(--input-height);
        text-align: center;
        min-width: 15%;
        &:last-child {
            &:after {
                display: none;
            }
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-width: calc(var(--input-height) / 2);
            border-color:transparent;
            border-style: solid;
            right: -var(--input-height);
            top: 0;
            z-index: 2;
        }

        &:before {
            border-width: 24px;
            z-index: 1;
            top: -6px;
            right: -48px
        }
    }
}
.input-box {
    margin-top: -1px;
    position: relative;

    & .text {
        position: absolute;
        height: var(--input-height);
        line-height: var(--input-height);
        padding-left: var(--space);
    }

    & .input {
        padding-left: 5em;
    }
}
