
.add-member-popup {
    & .user-pic {
        margin: var(--space) auto;
        background: black;
        max-width: 100px;
        height: 100px;
        background: url('../images/default-userpic.png') no-repeat center center;
        background-size: contain;

        & img {
            width: 100%;
            border-radius: 50%;

            &[src=''] {
                display: none;
            }
        }
    }

    & .user-info {
        & .btn {
            display: block;
            text-align: center;
            margin: calc(var(--space) * 2) 0;
            padding-left: 0;
            padding-right: 0;
        }

        & label {
            display: none;
        }
    }
}

.choise {
    & li {
        margin-bottom: calc(var(--space) * 2);
    }

    & .list-option {
        vertical-align: top;
        font-weight: bold;
        font-size: var(--font-size3);
    }

    & textarea {
        width: 100%;
    }

    & .tick {
        display: none;
    }

    & .selected {
        color: var(--color-black);

        & .tick {
            display: inline-block;
        }
    }


}

.add-paper-list {
    border: 0px solid transparent;

    & ul {
        margin-top: var(--space);
    }

    & b {
        font-size: var(--font-size5);
        margin-right: 1em;
    }

    & li {
        border-right: 1px solid transparent;
        padding: 0 calc(var(--space) * 2) 0 0;
        margin-right: calc(var(--space) * 2);
        margin-bottom: calc(var(--space) * 2);
        line-height: 1;
        display: inline-block;

        & .title {
            color: var(--color21);
        }


        &:last-child {
            border:none;
        }

        &.total {
            font-weight: bold;
        }
    }
}

.exam-base-info {
    & .exam-pic {
        min-height: 150px;
        background: #eee;
    }
}

.popup .question-list {
    padding: calc(var(--space) * 2);
    margin: calc(var(--space) * 2) -calc(var(--space) * 3);

    & .operation {
        margin-top: var(--space);
        & i {
            display: inline-block;
            padding: 0 calc(var(--space) * 1);
            cursor: pointer;
        }
    }

    & .topic {
        line-height: 2;
    }

    & .question-item {
        background: white;
        margin-bottom: var(--space);
        position: relative;
        padding: calc(var(--space) * 2);
    }

    & .answer-level {
        margin-bottom: calc(var(--space) * 2);
    }
}

.choose-question {
    & .btn {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: calc(var(--space) / 2);
    }
}

.random-question-content {
    background: white;
    padding: 15px var(--space) 0 calc(var(--space) * 2);
    height: 100%;

    & .random-question-main {
        height: 80%;
    }

    & .side-tree {
        height: 100%;
        border: 1px solid transparent;

        & .row,
        & [class^='col-'] {
            height: 100%;
        }
    }

    & .list {
        height: 100%;
        overflow: auto;
    }
}

.set-paper-content {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: var(--font-size1) var(--font-size1) 0;
    margin-bottom: calc(var(--space) * 2);

}

.exam-rule-content {
    & li {
        padding-bottom: var(--space);
        margin-bottom: var(--space);
    }

    & .text-tips {
        font-size: var(--font-size1);
    }
}

.min-input {
    width: 100px;
}
