
form.vertical {
    & label {
        display: block;
        margin: var(--font-size1) 0 calc(var(--font-size1) / 2);

        &.required::after {
            content: '*';
            color: red;
        }
    }

    & .input {
        outline: none;
        border-width: 1px;
        border-style: solid;
        padding: calc(var(--font-size1) / 2);
        width: 100%;
        min-height: calc(var(--font-size1) * 2);
        

        &.error {
            box-shadow: 0 0 calc(var(--font-size1) / 2) 0 rgba(255, 0, 0, .5);
        }

        &.btn-right-bottom {
            padding-bottom: calc(var(--font-size1) * 2.5);
            position: relative;

            & .btn-group {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }

    & span.error-text {
        display: inline-block;
        float: right;
        font-size: calc(var(--font-size1) - 2);
        margin-top: calc(var(--font-size1) / 2);
        color: red;

    }

    & .row span.error-text {
        position: absolute;
        right: 15px;
    }

    & .checkbox {
        margin-top: var(--font-size1);
        & label {
            display: inline-block;
            margin: 0;
        }

        & label:not(:last-child) {
            margin-right: var(--font-size4);
        }
    }

    & .input-box {
        & .input {
            padding-left: 6em;
        }
    }

}

.frame {
    border-width: 1px;
    border-style: solid;
    padding: calc(var(--font-size1) / 2);
    width: 100%;
    background-color: white;
    min-height: calc(var(--font-size1) * 2);


}

.input-group {
    display: table;

    & .input {
        display: table-cell;
        float: left;
    }

    & .addon {
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        border-width: 1px;
        border-style: solid;
        padding: calc(var(--font-size1) / 2) var(--font-size1);

        &:first-child {
            border-right-width: 0;
        }

        &:last-child {
            border-left-width: 0;
        }
    }
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label::before {
    content: ' ';
    display: inline-block;
    width: var(--font-size2);
    height: var(--font-size2);
    margin:-2px 4px 0 0;
    vertical-align: middle;
    background:url(../images/checkbox.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label::before {
    background: url(../images/checkbox.png) -var(--font-size2) top no-repeat;
}
