.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    & .modal {
        width: 600px;
        margin: 2.5% auto 0;
        box-shadow:0 2px 20px -5px rgba(0,0,0,.8);
        padding: calc(var(--space) * 2)  calc(var(--space) * 3);
        position: relative;
        height: 90%;

        &.small {
            width: 400px;
        }

        &.large {
            width: 800px;
        }

        & .dismiss {
            position: absolute;
            top: var(--font-size4);
            right: calc(var(--font-size1) + var(--font-size2));
            font-size: var(--font-size4);
        }

        & form {
            height: 95%;
        }

        & .frame {
            height: 95%;
            overflow: auto;
        }

        & .modal-footer {
            width: 100%;
            text-align: right;
            margin-top: var(--space);
            height: 80%;

            & .btn:not(:last-child) {
                margin-right: var(--font-size4);
            }
        }

        &.animated {
            animation-duration: .5s;
        }
    }
}
