.iconfont {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    transform: scale(1.25);

    &.scale-1 {
        transform: scale(1);
    }
}

.alertify {
    border: none;
    border-radius: 0;
    box-shadow:0 2px 20px -5px rgba(0,0,0,.9);
}

.alertify-buttons {
    margin-top: calc(var(--space) * 3);
    text-align: right;
    border-top: 1px solid #ddd;
    padding: calc(var(--space) * 2) 0 0;

}

.alertify-button,
.alertify-button:hover,
.alertify-button:focus,
.alertify-button:active {
    border: none;
    border-radius: 0;
    background: none;
    text-shadow: none;
    padding: 0;
    box-shadow: none;
    text-decoration: none;
    margin-left: calc(var(--space) * 3);
    color: var(--font-color);
    font-weight: normal;
}

.alertify-button:hover,
.alertify-button:focus,
.alertify-button:active {
    font-weight: bold;
}

.ps-container>.ps-scrollbar-y-rail {
    width: 11px;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    border-radius: 0;
    right: 0;
}
.ps-container>.ps-scrollbar-x-rail {
    height: 11px;
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    bottom: 0;
    right: auto;
}

.pdfViewer {
    background: white;
}

.pdfViewer .page {
  border: none;
  margin-bottom: 2em;
  box-shadow: 0 5px 3px rgba(0,0,0,.35);
}

.pdf-view-toolbar {
  padding: 0 1em;
  position: absolute;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  height: 2em;
  z-index: 7;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.pdf-view-toolbar.border {
    padding: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--border-color);
}

.viewerContainer {
    width: 100%;
    position: absolute;
    top:2em;
    overflow: auto;
    z-index: 6;
}

.pdf-progress {
    position: absolute;
    width: 100%;
    top: 2em;
    background: white;
    height: 3px;
    overflow: hidden;
    z-index: 0;
}

.pdf-view-toolbar .selectize-input, .pdf-view-toolbar .selectize-control.single .selectize-input.input-active, .pdf-view-toolbar .selectize-control.single .selectize-input {
    background: none;
    border: none;
    box-shadow: none;
    width: 5em;
    height: 2em;
    padding: 0;
    line-height: 2em;
    margin-left: 1em;
    width: 7em;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input,
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    height: 1em;
}

.pdf-view-toolbar .selectize-input.dropdown-active::before {
    display: none;
}

.pdf-view-toolbar .input.min {
    width: 2em;
    height: 2em;
    line-height: 2em;
}

.pdf-view-toolbar .iconfont {
    @apply --transition;
    cursor: pointer;

    &:hover {
        color: var(--main-color);
    }
}

.pswp__button--close,
.pswp__button--fs,
.pswp__button--zoom,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background-image: url(../images/default-skin.png);
}



@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
    .pswp--svg .pswp__button--close,
    .pswp--svg .pswp__button--fs,
    .pswp--svg .pswp__button--zoom,
    .pswp--svg .pswp__button--arrow--left:before,
    .pswp--svg .pswp__button--arrow--right:before {
        background-image: url(../images/default-skin.svg);
     }
    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
        background: none;
    }
}


.pswp__preloader--active {
  opacity: 1; }
  .pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(../images/preloader.gif) 0 0 no-repeat; }
