.popup-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=35);
    opacity: 0.35;

    &.ground {
        filter: alpha(opacity=0);
        opacity: 0;
        z-index: 997;
    }
}

.popup {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    right: 0;
    z-index: 1000;
    box-shadow:0 2px 20px -5px rgba(0,0,0,.8);

    &.large {
        width: 75%;
    }

    &.ground {
        width: auto;
        left: var(--sidebar-width);
        box-shadow: none;
        z-index: 998;
    }

    & .container {
        overflow-y: auto;
        padding: var(--font-size4) calc(var(--font-size1) + var(--font-size2));
    }

    & .dismiss {
        position: absolute;
        top: var(--font-size4);
        right: var(--font-size4);
        font-size: var(--font-size4);
    }

    & .popup-footer {
        text-align: right;
        width: 100%;
        margin-top: calc(var(--font-size1) + var(--font-size2));

        & .btn:not(:last-child) {
            margin-right: var(--font-size4);
        }
    }

    &.animated {
        animation-duration: .5s;
    }
}
