:root {
    --color12: #2C394A;
    --color11: #4E5966;
    --color13: #979797;
    --color14: #F5F6F8;
    --color21: #4184C2;
    --color22: #A8BEC9;
    --color23: #B3CFE0;
    --color24: #30689B;
    --color31: #ffffff;
    --border-color: #aaa;
    --bg-color1: #e9eef1;
    --color-black: #000000;
    --bg-highlight: #4394e0;
}

html, body {
    color: var(--color11);
}

.default {

    & .btn {
        background-color: var(--color11);
        color: var(--color23);

        &:hover {
            color: var(--color31);
        }

        &.reverse {
            background-color: var(--color31);
            color: var(--color13);
            border-color: var(--color11);
        }

        &.reverse:hover {
            color: var(--color11);
        }
    }

    & .text-tips {
        color: var(--color13);
    }

    & .hr {
        border-bottom-color: var(--color13);
    }

    & .border {
        border-color: var(--color13);
    }

    & .table {
        & thead {
            background-color: var(--color11);
            color: var(--color31);
        }

        & th {
            border-color: var(--color11);
        }

        & td {
            border-color: var(--color13);
        }

        &.table2 {
            & thead {
                background-color: var(--color14);
                color: var(--color-black);
            }
        }
    }

    & form.vertical {
        & .input, & .frame {
            border-color: var(--color11);
            background-color: var(--color31);
        }

        & .input.selectize-control {
            & .selectize-input {
                background-color: var(--color11);
                color: var(--color14);

                & input {
                    color: var(--color14);
                }

                &::after {
                    border-top-color: var(--color31);
                }

                &.focus,
                &.input-active,
                &.dropdown-active {

                    &::after {
                        border-bottom-color: var(--color31);
                    }
                }
            }
        }
    }

    & .top {
        background-color: var(--color11);
        color: var(--color31);

        & .item {
            border-color:  color(var(--color31) alpha(-80%));
            &:after{
                background: color(var(--color31) alpha(-80%));
                }

            & a {
                color: var(--color22);
                border-color: transparent;

                &.active, &:hover {
                    color: var(--color31);
                }
            }
        }

        & .top-below {
            background: var(--color21);

            & .top-nav {
                border-bottom-color: transparent;;
                background: color(var(--color11) blackness(55%));
            }
        }

        & .nav-list {
            background: color(var(--color11) blackness(55%));
        }

        & .top-back {
            background: rgba(255,255,255,.1);
        }

    }

    & .logo {
        background: var(--color12);

        & .logo-icon {
            background: url(../../images/logo/default-logo-icon.png) no-repeat center center;
        }

        & .logo-text {
            background: url(../../images/logo/default-logo-text.png) no-repeat center center;
        }

        & .theme-white {
            display: none;
        }
    }

    & .sidebar {

        & .menu {
            color: var(--color31);
            background-color: var(--color21);
        }

        & .indicator {
            background: color(var(--color31) blackness(10%));
        }

        & ul {
            & li {
                color: var(--color23);
                transition: background .1s linear;

                &:hover {
                    background: var(--color21);
                }

                & .sub {
                    background: var(--color21);
                }

                &.has-child.active {
                    background: color(var(--color21) blackness(30%));

                    & .sub {
                        background: color(var(--color21) blackness(30%));
                    }
                }

                &.has-child,
                &.has-child.open,
                &.has-child.active {
                    & .sub > li {
                        &:hover,
                        &.active {
                            background: color(var(--color21) blackness(40%));
                        }
                    }
                }

                &.has-child.active,
                &.active {
                    background: color(var(--color21) blackness(30%));
                }
            }

            & li.active {
                color: var(--color31);
            }
        }

        & .collapse-nav {
            background: var(--bg-highlight);
            color: var(--color23);

            &:hover {
                color: var(--color31);
            }
        }
    }

    & .content {

        & .toolbox .tags {
            border-bottom: 1px solid var(--border-color);
        }

        & .content-left {
            border-color: var(--color13);

            & .toggle-tree {
                border-color: var(--color13);
            }
        }

    }
    & .toolbx-toggle-tree [class^='pe-7s-angle-'] {
        background: var(--color11);
        color: var(--color31);
    }

    & .popup {
        background-color: var(--color31);

        & .question-list {
            background: var(--bg-color1);
        }
    }

    & .modal {
        background-color: var(--color14);
    }


    & .input-group .addon {
        border-color: var(--color11);
        background-color: var(--color11);

        &.text {
            color: var(--color31);
        }
    }


    & .tag-group {

        & .tag-item {
            background: var(--color11);
            color: var(--color31);
        }

        & a {
            color: inherit;
        }
    }

    & .modal-content {

        & .content-left {
            border:1px solid var(--color13);
        }
    }

    & .muted {
        color: var(--color13);
    }

    & .empty {
        color: var(--color13);
    }

    & .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
    & .ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
        background: color(var(--color13) alpha(-80%));
    }

    & .ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
    & .ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
        background: var(--color11);
    }

    & .pagination {

        & .btn {
            color: var(--color-black);

            &:hover {
                color: var(--color21);
            }
        }
        & .turn {

            border-color: var(--color13);
            background: var(--color31);

        }

    }

    & .dtree li{
        border-bottom-color: var(--color13);

        &.dtree-selected {
            & > .dtree-node-content {
                background-color: var(--color11);
                color: var(--color31);
            }
        }

        &.dtree-has-child ul {
            border-top-color: var(--color13);
        }
    }

    & .tags.single-line {
        & .item[data-value], & .item[data-value].active {
            background-color: var(--color11);
        }
    }

    & .themes-list {
        background: var(--color31);
        border: 1px solid var(--border-color);
        color: var(--color-black);


        & .themes-color-bar {
            border:1px solid var(--color31);
        }

        &::after {
            border-bottom-color: var(--color31);
            border-top-color: var(--color31);
        }

        & dl {
            border-bottom-color: var(--border-color);

            &.active, &:hover {
            color: var(--color13);
            }
        }
    }

    & .navbar-toggle {
        & [class^='pe-'] {
            border-color: var(--color31);

            &:before {
                background: var(--color31);
            }
        }
    }

    & .add-paper-list {
        border-color: var(--color11);
    }

    & .add-paper-list {
        & li {
            border-color: var(--color11);
        }
    }

    & .step-row {
        & .step-item {
            background: var(--bg-color1);

            &.current {
                background: var(--color11);
                color: var(--color31);

                &:after {
                    border-left-color:var(--color11);
                }
            }

            &:after {
                border-left-color:var(--bg-color1);
            }

            &:before {
                border-left-color:var(--color31);
            }
        }
    }

    & .random-question-content .side-tree {
        border-color: var(--color13);
    }

    & .set-paper-content {
        border-color: var(--color13);
    }

}
