:root {
    --color12: #ffffff;
    --color11: #f0f0f0;
    --color13: #979797;
    --color14: #F5F6F8;
    --color21: #4184C2;
    --color22: #A8BEC9;
    --color23: #555555;
    --color24: #30689B;
    --color31: #ffffff;
    --font-color: #000;
    --border-color: #bbb;
    --bg-color1: #eeeeee;
    --color-black: #000000;
    --bg-highlight: #f9f9f9;
}

html, body {
    color: var(--font-color);
}

.theme-white {

    & .btn {
        background-color: var(--color21);
        color: var(--color31);
        transition: all .2s linear;

        &:hover {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

        &.reverse {
            background-color: var(--color31);
            color: var(--font-color);
            border-color: var(--border-color);
        }

    }

    & .text-tips {
        color: var(--color13);
    }

    & .hr {
        border-bottom-color: var(--border-color);
    }

    & .border {
        border-color: var(--border-color);
    }

    & .table {
        & thead {
            background-color: var(--color11);
            color: var(--color-black);
        }

        & th {
            border-color: var(--border-color);
        }

        & td {
            border-color: var(--border-color);
        }

        & tr:nth-child(even) {
            background: var(--bg-highlight);
        }
    }

    & form.vertical {
        & .input, & .frame {
            border-color: var(--border-color);
            background-color: var(--color31);
        }

        & .input.selectize-control {
            & .selectize-input {
                background-color: var(--color31);

                & input {
                }

                &::after {
                    border-top-color: var(--font-color);
                }

                &.focus,
                &.input-active,
                &.dropdown-active {

                    &::after {
                        border-bottom-color: var(--font-color);
                    }
                }
            }
        }
    }

    & .top {
        border-bottom: 1px solid var(--border-color);
        color: var(--font-color);

        & .item {
            border-color:  color(var(--border-color) alpha(-50%));
            &:after{
                background: color(var(--border-color) alpha(-50%));
                }

            & a {
                color: var(--font-color);
                border-color: var(--color21);

                &.active, &:hover {
                    color: var(--color21);
                }

                &.active {
                    border-color: var(--color21);
                }
            }
        }

        & .top-below {
            background: var(--color31);

            & .top-nav {
                border-bottom-color: var(--border-color);
            }
        }

        & .nav-list {
            background: var(--color31);
            border: 1px solid var(--border-color);
        }

    }

    & .logo {
        background: var(--color12);
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);


        & .logo-icon {
            background: url(../../images/logo/default-logo-icon.png) no-repeat center center;
        }

        & .logo-text {
            background: url(../../images/logo/default-logo-text.png) no-repeat center center;
        }

        & .theme-default {
            display: none;
        }
    }

    & .sidebar {
        border-right: 1px solid var(--border-color);

        & .indicator {
            background: var(--color21);
        }

        & ul.par > li {
            border-bottom: 1px solid var(--color11);
        }

        & ul {
            & li {
                transition: background .1s linear;

                &:hover {
                    background: var(--color11);
                }

                & .sub {
                    background: var(--bg-highlight);
                }

                &.has-child.active {
                    background: var(--bg-highlight);

                    & .sub {
                        background: var(--bg-highlight);
                    }
                }

                &.active {
                    background: var(--bg-highlight);
                    & i,
                    & > .menu-text{
                        color: var(--color21);
                    }
                }

                &.has-child,
                &.has-child.open,
                &.has-child.active {
                    & .sub > li {
                        &:hover,
                        &.active {
                            background: var(--color11);
                        }
                    }
                }

            }

            & li.active {
                color: var(--color-black);
            }
        }

        & .collapse-nav {
            background: var(--bg-highlight);
            color: var(--color13);
            border-right: 1px solid var(--border-color);
            border-top: 1px solid var(--border-color);

            &:hover {
                color: var(--color-black);
            }
        }
    }

    & .content {

        & .toolbox .tags {
            border-bottom: 1px solid var(--border-color);
        }

        & .content-left {
            border-color: var(--border-color);

            & .toggle-tree {
                border-color: var(--border-color);
            }
        }
    }
    & .toolbx-toggle-tree [class^='pe-7s-angle-'] {
        background: var(--color11);
        color: var(--font-color);
    }

    & .popup {
        background-color: var(--color31);

        & .question-list {
            background: var(--bg-highlight);
        }
    }

    & .modal {
        background-color: var(--color14);
    }


    & .input-group .addon {
        border-color: var(--color21);
        background-color: var(--color21);

        &.text {
            color: var(--color31);
        }
    }


    & .tag-group {

        & .tag-item {
            background: var(--color11);
        }

        & a {
            color: inherit;
        }
    }

    & .modal-content {

        & .content-left {
            border:1px solid var(--color13);
        }
    }

    & .muted {
        color: var(--color13);
    }

    & .empty {
        color: var(--color13);
    }

    & .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
    & .ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
        background: color(var(--color13) alpha(-80%));
    }

    & .ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
    & .ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
        background: var(--color11);
    }

    & .pagination {

        & .btn {
            color: var(--color-black);

            &:hover {
                color: var(--color21);
            }
        }
        & .turn {

            border-color: var(--color13);
            background: var(--color31);

        }

    }


    & .dtree li{
        border-bottom-color: var(--border-color);

        &.dtree-selected {
            & > .dtree-node-content {
                background-color: var(--color11);
            }
        }
    }

    & .tags.single-line {
        & .item[data-value], & .item[data-value].active {
            background-color: var(--color11);
            color: var(--font-color);
        }
    }

    &.sidebar-collapsed {
        & .sidebar  {
            & ul.par >  li.active {
                background: var(--bg-highlight);
            }
            & .sub {

                & li {
                    border-bottom: 1px solid var(--color12);


                }
            }
        }
    }

    & .themes-list {
        background: var(--bg-highlight);
        border: 1px solid var(--border-color);
        color: var(--color-black);

        & .themes-color-bar {
            border:1px solid var(--color12);
        }

        &::after {
            border-bottom-color: var(--border-color);
            border-top-color: var(--border-color);
        }

        & dl {
            border-bottom-color: var(--border-color);

            &.active, &:hover {
            color: var(--color13);
            }
        }
    }

    & .navbar-toggle {
        & [class^='pe-'] {
            border-color: var(--font-color);

            &:before {
                background: var(--font-color);
            }
        }
    }

    & .add-paper-list {
        border-color: var(--border-color);
    }

    & .add-paper-list {
        & li {
            border-color: var(--border-color);
        }
    }

    & .step-row {
        & .step-item {
            background: var(--bg-color1);

            &.current {
                background: var(--color21);
                color: var(--color31);

                &:after {
                    border-left-color:var(--color21);
                }
            }

            &:after {
                border-left-color:var(--bg-color1);
            }

            &:before {
                border-left-color:var(--color31);
            }
        }
    }

    & .random-question-content .side-tree {
        border-color: var(--border-color);
    }

    & .set-paper-content {
        border-color: var(--border-color);
    }
}
