.top {
    position: absolute;;
    height: var(--nav-height);
    width: 100%;
    z-index: 20;

    & .navbar-toggle {
        display: none;
    }


    & .nav {
        display: inline-block;
        padding: calc(var(--space) * 2.5) 0 0;
        margin: 0 auto;
        overflow: hidden;

        & .item {
            padding: 0 calc(var(--font-size1) + var(--font-size2));
            display: inline-block;
            font-size: var(--font-size2);
            border-width: 0;
            border-style: solid;
            margin-right: -1px;
            line-height: 1;
            position: relative;

            &:after {
                position: absolute;
                right: -1px;
                top: 0;
                width: 1px;
                height: var(--font-size2);
                content: '';
            }
        }
    }

    & .shortcut {
        float: right;
        line-height: var(--nav-height);
        height: var(--nav-height);
        margin-right: calc(var(--space) * 1.5);

        & .item {
            padding: 0 calc(var(--space) * 1);
            display: inline-block;
            font-size: var(--font-size2);
            position: relative;

            & a {
                padding: 0;
            }
        }

        & [class^='pe-7s-'] {
            font-size: var(--font-size5);
        }


    }

    & .item a {
        text-decoration: none;
        border-bottom-width: 0px;
        border-bottom-style: solid;

        &.active {
            border-bottom-width: 5px;
        }


    }

    & .toggle-shortcut {
        display: none;
    }

    & .top-below {
        left: 100%;
        transition: all .2s linear;
        position: fixed;
    }

    & .nav-list {
        transition: all .2s linear;
        margin: -1px;

        & a {
            display: block;
            padding-bottom: 25px;
        }
    }

    & .top-back {
        text-align: center;
        position: fixed;
        bottom: calc(var(--space) * 2);
        right: calc(var(--space) * 2);
        width: var(--sidebar-item-height);
        height: var(--sidebar-item-height);
        line-height: var(--sidebar-item-height);
        border-radius: 50%;
        cursor: pointer;
        z-index: 102;
        display: none;
    }

}

.logo {
    float: left;
    height: var(--nav-height);
    line-height: var(--nav-height);
    width: var(--sidebar-width);
    text-align: center;
    transition: width .2s linear;
    overflow: hidden;

    & .logo-min {
        display: none;
    }

}

.themes-list {
    position: absolute;
    width: var(--sidebar-width);
    left: 0;
    top: calc(var(--nav-height) - 1);
    margin-left: -calc(var(--sidebar-width) / 2);
    line-height: 1.5;
    padding: 0 calc(var(--space) * 1.5) 0;
    font-size: 12px;
    z-index: 100;
    display: none;
    transition: all .1s linear;
    text-align: left;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color:transparent;
        position: absolute;
        left: 50%;
        top:-20px;
        border-top-color: transparent;

    }

    & .themes-color-bar {
        display: inline-block;
        vertical-align: middle;
        width: var(--space);
        height: calc(var(--space) * 1);
        font-size: 0;
    }

    & dl {
        padding: calc(var(--space) * 2) 0;
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-style: dashed;

        &:last-child {
            border: none;
        }
    }

    & .theme-list-default {
        & .color1 {
            background: #2C394A;
        }
        & .color2 {
            background: #4E5966;
        }
        & .color3 {
            background: #4184C2;
        }
    }

    & .theme-list-white {
        & .color1 {
            background: #979797;
        }
        & .color2 {
            background: #ffffff;
        }
        & .color3 {
            background: #4184C2;
        }
    }


}

.toggleTheme:hover .themes-list {
    display: block;
}
