.notloggin-page {
	& .notloggin-title {
		& .logobar {
			font-size: 45px;
    		font-weight: 700;
			height: 70px;
			line-height: 70px;
			color: rgb(0 158 215);
			padding-left: 100px;
		}
	}
	& .notloggin-form {
		margin: calc(var(--large-space)*2) calc(var(--section-gap)*5);
	}
	& .notloggin-info {
		margin: calc(var(--large-space)*2) calc(var(--large-space)*3);
	}

	& .besure {
		width: 45%;
		position: relative;
		& > img {
			width: 100%;
		}
		& > span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: var(--white);
		}
	}
	& .info {
		width: 45%;
		& > img {
			width: 100%;
		}
		& > span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: var(--font-tip-color);
		}
	}
	& .form {
		width: 50%;
		margin: 0 auto;
		& .form-row {
			width: 100%;
			text-align: center;
			display: inline-block;
		}
		& .verifycode {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateX(130%) translateY(-50%);
		}
	}
	& .show {
		display: block;
	}
	& .hide {
		display: none;
	}
}
