.topic-main {
    & .page1 {
        /*z-index: 1;*/
        /*position: absolute;*/
    }
    & .page2 {
        /*z-index: 2;*/
        display: none;
    }
    & .page3 {
        display: none;
    }
    & .aboutme-ul {
        & .aboutme-li {
            width: calc(var(--section-gap)*2);
            padding-right: calc(var(--large-space)*2);
            & .img-dv {
                width: 100%;
            }
            & p.introduce {
                line-height: 0.6;
            }
            & .true-icon {
                position: absolute;
                top: var(--space);
                right: var(--space);
                cursor: pointer;
                & .iconfont {
                    color: var(--custom-color-1);
                }
            }
        }
    }

    & .recommend-ul {
        & .recommend-li {
            width: 16%;
            height: calc(var(--section-gap)*3);
            padding-right: var(--space);
            & .recommend-icon {
                position: absolute;
                left: var(--space);
                top: var(--space);
                cursor: pointer;
                & .iconfont {
                    color: var(--custom-color-1);
                }
            }
            & .recommend-total {
                height: 100%;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & .recommend-item {
                width: 100%;
                cursor: pointer;
                position: absolute;
                bottom: 0;
            }
            & .recommend-icon {
                position: absolute;
                top: var(--space);
                right: var(--space);
            }
        }
    }
    & .icon-opacity0 {
        opacity: 0;
    }
}
