.ask-page {
    margin: var(--base-gap) 0;

    & .follow {
        & dl {
            float: left;
            width: 33.33%;
            text-align: center;
        }
        &.cell-4 dl {
            width: 25%;
        }
        & dt {
            font-size: var(--h3);
        }

        & dd {
            font-size: var(--small-font);
            color: var(--font-sub-color);
            margin-top: 1em;
        }

        & ul {
            margin-top: var(--base-gap);
            border-top: 1px dashed var(--border-color);
        }

        & li {
            text-align: center;
            border-bottom: 1px dashed var(--border-color);
            padding: 1em 0;
            cursor: pointer;
        }
    }

    & .page-side {
        & .ask-list li.topic-item,
        & .ask-list li.expert-item {
            float: none;
            width: auto;
            margin-bottom: var(--large-space);
            padding: 0;

            & .img {
                width: 4em;
            }

            & .info {
                color: var(--font-sub-color);
            }
        }

        & .btns {
            & .w-half {
                width: 48%;
            }
        }
    }

    & .manage-list {
        & li {
            margin-top: var(--large-space);
            padding-bottom: var(--large-space);
            border-bottom: 1px solid var(--border-color);

        }
    }

    & .topic-top {
        @apply --clearfix;

        margin: var(--large-space) 0;

        &.detail {
            margin-bottom: 1em;
        }
        & .img {
            width: 6em;
            height: 6em;
            float: left;
            margin-right: 1em;

            &.min {
                width: 3em;
                height: 3em;
            }
        }

        & .content {
            overflow: hidden;
        }
    }
    & .border.dashed {
        padding-bottom: var(--space);
    }
}

.ask-main {
    & .ask-tab-box {
        & li {
            float: left;
            padding: var(--space) calc(var(--space)*3);

            &.active {
                & a {
                    color: var(--custom-color-2);
                }
            }

            & a:hover {
                color: var(--custom-color-2);
            }
        }
    }
}
.topic-detail-title {
    margin-bottom: var(--large-space);
    & .img {
        float: left;
        margin-right: var(--large-space);
        width: calc(var(--large-space) * 4);
        height: calc(var(--large-space) * 4);
    }
}
.expert-detail-top {
    width: 100%;
    overflow: hidden;
    color: var(--white);
    height: var(--subject-banner-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--sub-color-1);
    & .head {
        float: left;
        margin-top: calc(var(--large-space) * 2.5);
        margin-right: var(--large-space);
        width: calc(var(--large-space) * 6);
        height: calc(var(--large-space) * 6);
        & img { width: 100%;}
    }
    & .section {
        float: left;
        margin-top: calc(var(--large-space) * 2.5);
        width: 50%;
        & .h3 {
            font-size: var(--h2);
        }
        & .sub-title {
            padding: calc(var(--large-space) / 4) calc(var(--large-space) / 2);
            color: var(--font-color);
        }
        & .title-row {
            margin-bottom: calc(var(--space) * 2);
        }
    }

}
