.recommend-topic {
    width:75%;
    overflow: hidden;
    & .h4 {
        padding: var(--space) 0;
    }
    
    & li {

        width: 15%;
        text-align: center;
        margin-right: calc(var(--base-gap) + 6);
        & img {
            width: 100%;
        }
        & .item-title {
            padding: var(--space) 0;
        }
        & .item-attention {
           background-color:var(--link-color); 
           padding: var(--space) 0;
           color:var(--white);
        }
    }
    & li:last-child {
        margin-right: 0;
    }
    
  
}