.watch-detail1-page {
    & .title-img {
        width: var(--base-gap);
        height: var(--base-gap);
        & img {
            width: 100%;
            height: 100%;
            &.title-radius {
                border-radius: var(--space);
            }
        }
    }
    & .title-main {
        overflow: hidden;
    }
    & .detail-img {
        & img {
            width: calc(var(--large-space)*4);
            height: auto;
        }
    }
}
