.report-exam-page {
    & .report-person {
        & .item {
            & img {
                width: var(--large-space);
                height: var(--large-space);
            }
        }
    }
    & .report-content {
        & .report-content-item {
            line-height: var(--large-space);
        }
    }
    & .reson-height {
        height: calc(var(--section-gap)*2);
        overflow: auto;
    }
    & textarea {
        max-width: 100%;
    }
}
