.comment-list {
    & .comment-list {
        margin-top: calc(var(--font-size) * 2);
        & ul {
            margin-bottom: var(--input-height);
        }
    }

    & li {
        @apply --clearfix;

        border-bottom: 1px dashed var(--border-color);
        padding: calc(var(--font-size) * 2) 0;

        &.s-padding {
            padding-top: var(--space);
        }

        &:last-child {
            border: none;
        }
    }

    & .user-pic {
        float: left;
        width: calc(var(--font-size) * 3);
        height: calc(var(--font-size) * 3);
        border: 1px solid var(--border-color);

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & .comment-content {
        margin-left: calc(var(--font-size) * 5);
        & .comment-title {
            & .title {
                font-size: 14px;
                font-weight: bold;
                width: 85%;
                float: left;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                & > a {
                    color: var(--font-color);
                }
            }
        }
        & .icon-more {
            font-size: var(--h3);
            & .drop-down-more {
                display: none;
                width: calc(var(--space) * 8);
                position:absolute;
                right: -5px;
                top: -9px;
                border: 1px solid var(--border-color);
                background-color:var(--bg-color);
                padding: 0 var(--space);
                font-size: var(--small-font);
                z-index: 100;
                & .icon-triangle-up {
                    position: absolute;
                    right: calc(var(--space) / 2);
                    top: -calc(var(--space) + 1);
                    color: var(--border-color);
                }
                & li {
                    color: var(--font-tip-color);
                    height: var(--large-space);
                    line-height:  var(--large-space);
                    padding: 0 calc(var(--space) / 2);
                    border-bottom: 1px solid var(--border-color);
                    transform: scale(.8);
                    & .iconfont {
                        margin-right: calc(var(--space) / 2);
                        vertical-align: bottom;
                    }
                }
                & li:last-child {
                    border-bottom: none;
                }
            }
        }
        & .icon-more:hover .drop-down-more {
            display: block;
        }
    }

    & .boutique {
        width: calc(var(--space) *2);
        height: calc(var(--space) *2);
        margin-right: calc(var(--small-font));
    }

    & .comment-text {
        line-height: 2;
        margin: var(--space) 0;
        color: var(--font-tip-color);
        &.color-main {
            color: var(--font-color);
        }
    }

    & .comment-operation {
        @apply --clearfix;

        & .item {
            display: inline-block;
            padding: 0;
            margin-left: var(--input-height);
            cursor: pointer;
            color: var(--font-tip-color);

            &:hover {
                color: var(--link-color);
            }
            &.inline {
                margin-left: var(--space);
            }
            & .add {
                transform: scale(1);
            }
        }

        & .drop-down-content {
            left: auto;
            right: 0;
        }

    }

    & .comment-reply {
        @apply --fade-out;
        @apply --transition;

        position: relative;
        /*height: 0;*/
        display: none;
        overflow: hidden;
        display: none;

        &.show {
            @apply --fade-in;

            margin: 1em 0;
            display: block;
            /*height: 3em;*/
        }

        & textarea {
            padding: 5px;
            padding-right: calc(var(--font-size) * 6);
            height: var(--input-height);
            line-height: 25px;
        }

        & .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: calc(var(--font-size) * 6);
            text-align: center;
            &:hover {
                @apply --fade-in;
            }
        }
    }
}
