.comment-list {
    & .comment-list {
        margin-top: calc(var(--font-size) * 2);
    }

    & li {
        @apply --clearfix;

        padding: calc(var(--font-size) * 2) 0;
    }

    & .user-pic {
        float: left;
        width: calc(var(--font-size) * 3);
        height: calc(var(--font-size) * 3);
        border: 1px solid var(--border-color);

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & .comment-content {
        margin-left: calc(var(--font-size) * 5);
    }

    & .boutique {
        width: calc(var(--space) *2);
        height: calc(var(--space) *2);
        margin-right: calc(var(--small-font));
    }

    & .comment-text {
        position: relative;
        line-height: 2em;
        height: 4em;
        margin: var(--space) 0;
        /*多行文本省略*/
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    & .comment-text:before {
        content:"...";
        position:absolute;
        bottom:0;
        right:0;
        background:#FFF;
    }

    & .comment-operation {
        @apply --clearfix;

        & .item {
            display: inline-block;
            padding: 0;
            margin-left: var(--base-gap);
            cursor: pointer;
            color: var(--font-tip-color);

            &:hover {
                color: var(--link-color);
            }
            &.inline {
                margin-left: var(--space);
            }
        }

        & .drop-down-content {
            left: auto;
            right: 0;
        }

    }

    & .comment-reply {
        @apply --fade-out;
        @apply --transition;

        position: relative;
        height: 0;
        overflow: hidden;

        &.show {
            @apply --fade-in;

            margin: 1em 0;
            height: 3em;
        }

        & textarea {
            padding-right: calc(var(--font-size) * 6);
            height: var(--input-height);
        }

        & .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: calc(var(--font-size) * 6);
            text-align: center;
            &:hover {
                @apply --fade-in;
            }
        }
    }
}
