.comment-list {
    & .comment-list {
        margin-top: calc(var(--font-size) * 2);
    }

    & li {
        @apply --clearfix;

        margin-bottom: var(--base-gap);
        padding: calc(var(--font-size) * 2) 0;
    }

    & .user-pic {
        float: left;
        width: calc(var(--font-size) * 4);
        height: calc(var(--font-size) * 4);
        margin-right: 1em;
        border: 1px solid var(--border-color);

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & .comment-content {
        overflow: hidden;
    }

    & .comment-text {
        line-height: 2;
        margin: var(--space) 0;
    }

    & .comment-operation {
        @apply --clearfix;

        & .item {
            display: inline-block;
            margin-left: var(--base-gap);
            cursor: pointer;
            color: var(--font-tip-color);

            &:hover {
                color: var(--link-color);
            }
        }

        & .iconfont {
            margin-right: var(--space);
        }
    }

    & .comment-reply {
        @apply --fade-out;
        @apply --transition;

        position: relative;
        height: 0;
        overflow: hidden;

        &.show {
            @apply --fade-in;

            margin: 1em 0;
            height: 3em;
        }

        & textarea {
            padding-right: calc(var(--font-size) * 6);
        }

        & .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: calc(var(--font-size) * 6);
            text-align: center;
            &:hover {
                @apply --fade-in;
            }
        }
    }
}
