.filter-row {
    font-size: var(--small-font);
    background: var(--bg-color);
    padding: var(--space) 1em;


    & .filter-item {
        display: inline-block;
        margin-right: 1em;
    }

    & input,
    & button,
    & .btn,
    & .input {
        height: 2em;
        line-height: 2em;
    }
    & .btn {
        &.radius {
            border-radius: 20%/50%;
        }
        &.gray {
            background: var(--font-sub-color);
        }
    }
    & select {
        width: calc(var(--large-space) *6);
        height: 2em;
    }
}
