.form {
    &.horizontail {
        & .form-row {
            float: left;
        }
    }

    &.align-left .form-row{
        & > label,
        & label.label {
            text-align: left;

            &.required:after {
                right: auto;
                margin-left: var(--space);
            }
        }

    }

    & .form-row {
        @apply --clearfix;

        margin-bottom: calc(var(--space) * 2);
        &.r-padding {
            padding-right: calc(var(--large-space) /2);
        }

        & > label,
        & label.label {
            position: relative;
            float: left;
            width: 6em;
            text-align: right;
            line-height: var(--input-height);

            &.required:after {
                content: '*';
                position: absolute;
                right: -var(--space);
                top: 0;
                color: var(--color-error);
            }


        }

        & .content {
            overflow: hidden;
            position: relative;
            margin-left: 8em;
        }

        & .sub-text {
            position: absolute;
            font-size: var(--small-font);
            white-space: nowrap;
            left: 0;
            bottom: -calc(var(--space) * 2);
        }

        & .sub-row {
            margin: var(--space) 0;
        }

        & .tips {
            position: absolute;
            right: var(--space);
            top: 50%;
            font-size: var(--small-font);
            margin-top: -.5em;
            color: var(--font-sub-color);
        }

        & .input {
            width: 100%;
            display: block;

            & + .choice {
                position: relative;
                position: absolute;
                right: 0;
                top: 0;
                height: var(--input-height);
                line-height: var(--input-height);
                background: var(--main-color);
                padding: 0 1em;
                color: white;
                cursor: pointer;
            }
        }

        &.textarea-row {
            & .tips {
                top: auto;
                bottom: var(--space);
            }
        }

        & .tag-input {
            border: 1px solid var(--border-color);
            padding: calc(var(--space) / 2) var(--space);
            white-space: nowrap;

            & input {
                border: none;
                box-shadow: none;
                background: none;
                outline: none;
                width: 100%;
                font-size: var(--small-font);
                margin-left: var(--space);
            }

            & .tag-btn {
                border: none;
                background: var(--bg-color-2);
                margin-bottom: 0;
            }
        }
    }
}
