.btn {
    font-size: var(--font-title);
    display: inline-block;
    padding: calc(var(--space) / 2) var(--large-space);
    text-align: center;
    transition: all .2s linear;
    cursor: pointer;
    white-space: nowrap;

    &.block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
