.grid-row {
    @apply --clearfix;

    padding-left: var(--space);
    padding-right: var(--space);
    margin-left: -var(--space);
    margin-right: -var(--space);

    &.no-gutter {
        [class^=col-] {
            margin: 0;
        }
    }
}

[class^=col-] {
    float: left;
    margin-left: var(--space);
    margin-right: var(--space);
}
