.img {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: all .5s linear;

    & .not-user .img-cont {
        position: absolute;
        width: 2000px;
        height: 2000px;
        line-height: 2000px;
        vertical-align: middle;
        left: 50%;
        top: 50%;
        margin-left: -1000px;
        margin-top: -1000px;
        text-align: center;
    }

    & img {
        vertical-align: middle;
        transform:translateZ(0);
        transition: all .5s linear;
        max-width: 100%;
    }
}
