.page-main-wrapper {
    overflow: hidden;
    margin-bottom: -var(--section-gap);

    & .page-main {
        padding-bottom: 99999px;
        margin-bottom: -99999px;
        overflow: hidden;

        & .container {
            margin: 0 var(--base-gap);
            max-width: none;
        }
    }

    & .page-side {
        width: 30%;
        float: right;
        background: var(--bg-color);
        padding: 0 var(--base-gap) 99999px;
        margin-bottom: -99999px;

        & .container {
            max-width: 30em;
            margin: 0;
        }

        &.side-min {
            background: none;
            width: 25%;
            padding-right: 0;
            margin-left: var(--base-gap);

            & .section {
                margin: var(--base-gap) 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}
