:root {
    --main-list-img-height: 12em;
    --main-list-gap: calc(var(--font-size) * 3);
}

.main-list {

    & .filter {
        height: 1em;
        line-height: 1em;
        margin: var(--main-list-gap) 0;
        font-size: var(--small-font);

        & .item {
            margin-right: 1em;

            &:last-child {
                margin: 0;
            }
        }
    }

    & > ul {
        @apply --clearfix;

        margin-right: -var(--main-list-gap);

        & li {
            float: left;
            width: 33.333%;
            padding-right: var(--main-list-gap);
            margin-bottom: calc(var(--main-list-gap) + 1);

            & .content {
                position: relative;
                transition: all .2s linear;
            }

            & .title {
                margin: 1em 0;
            }

            & .bottom {
                @apply --clearfix;

                font-size: var(--small-font);

                & .item {
                    float: left;
                    padding-right: var(--font-size);
                    margin-right: var(--font-size);
                    border-right: 1px solid var(--border-color);

                    &:last-child {
                        border: none;
                    }
                }
            }

            & .detail-wrapper {
                background-color: white\0;
                background-color: rgba(255,255,255,.95);
                transition: all .2s linear;
                position: absolute;
                left: 0;
                right: 0;
                overflow: hidden;
                bottom: calc(var(--font-size) * 4);
                margin-top: -calc(var(--main-list-img-height) - 2);
                height: 0;
                opacity: 0;
                filter: alpha(opacity=0);


                & p {
                    height: calc(var(--font-size) * 1.8 * 2);
                    overflow: hidden;
                }
            }

            & .list-tag {
                @apply --tag;
            }

            &:hover {
                & .content {
                    @apply --box-shadow;

                    padding: 1em 1em var(--large-space);
                    margin: -1em -1em -var(--large-space);
                }

                & .detail-wrapper {
                    height: calc(var(--main-list-img-height) - 2);
                    padding: var(--space) var(--large-space);
                    margin-bottom: var(--large-space);
                    opacity: 1;
                    filter: alpha(opacity=100);

                }

                & .list-tag {
                    margin: 1em;
                }

                & .title {
                    font-weight: bold;
                }

                & img {
                    transform: scale(1.1);
                }
            }
        }
    }

    & .img {
        height: var(--main-list-img-height);
    }


}
