.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.small .dialog{
        width: 400px;
    }

    &.large .dialog{
        width: 800px;
    }

    & .dialog {
        width: 600px;
        margin: 2.5% auto 0;
        box-shadow:0 2px 20px -5px rgba(0,0,0,.8);
        padding: calc(var(--space) * 2) calc(var(--space) * 3) calc(var(--space) * 5);
        position: relative;
        max-height: 700px;
        background: white;

        & .dialog-content {
            height: 80%;
            overflow: auto;
            overflow-x: hidden;
        }

        & .dismiss {
            position: absolute;
            top: var(--space);
            right: calc(var(--large-space) + var(--space));
            font-size: var(--font-size);
        }

        & form {
            height: 95%;
        }

        & .frame {
            border: 0;
            padding: 0;
        }

        & .dtree {
            max-height: 412px;
            border: 1px solid transparent;
            overflow: auto;
            padding: calc(var(--font-size) / 2);
        }

        & .dialog-header .hr {
            display: none;
        }

        & .dialog-footer {
            width: 100%;
            text-align: right;
            margin-top: calc(var(--space) * 3);
            height: 80%;

            & .btn:not(:last-child) {
                margin-right: var(--font-size);
            }
        }

        &.animated {
            animation-duration: .5s;
        }

    }
    & .preview-content {
        border: 1px solid transparent;
        padding: var(--font-size);
        margin: var(--font-size) 0;

        & .answer {
            border: none;
        }
    }
}

.dialog-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=15);
    opacity: 0.15;
}

.popup,
.ground {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    right: 0;

    &.large {
        width: 75%;
    }
}

.dialog {
    box-shadow:0 2px 20px -5px rgba(0,0,0,.8);
    height: 100%;

    & .container {
        overflow-y: auto;
        padding: var(--font-size) calc(var(--font-size) + var(--font-size));
    }

    & .dismiss {
        position: absolute;
        top: var(--font-size);
        right: var(--font-size);
        font-size: var(--font-size);
        z-index: 10;
    }

    & .dialog-footer {
        text-align: right;
        width: 100%;
        margin-top: calc(var(--font-size) + var(--font-size));

        & .btn:not(:last-child) {
            margin-right: var(--font-size);
        }
    }

    &.animated {
        animation-duration: .5s;
    }
}

.ground {
    width: auto;
    box-shadow: none;
    z-index: 998;
    left: 0;

    &.large {
        left: 0;
        width: 100%;

        & .dialog-header {
            display: none;
        }
    }
}


.dialog-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 1px;

    & > .title {
            margin-top: var(--font-size);

            &::after {
                content:'';
                clear: both;
                display: table;
            }

        & .toolbox {
            float: left;

            & .tags {
                min-width: 300px;
                border-width: 1px;
                border-style: solid;
                display: inline-block;
                vertical-align: middle;
            }
            & .addon {
                position: relative;
                float: right;

            }
            & .btn{
                padding: 1px 8px;
            }

            & .buttons {
                height: var(--font-size);
                width: calc(var(--font-size) * 1);
                display: inline-block;
                vertical-align: middle;
                text-align: center;
            }

            & i {
                line-height: var(--font-size);
                font-size: var(--font-size);
            }
        }
    }

    & .content-wrapper {
        height: 80%;
    }

    & .content-left {
        width: 200px;
        float: left;
        height: 100%;
        overflow: auto;
    }

    & .content-main {
        margin-left: 230px;
        overflow: auto;
        height: 100%;
    }

}
