.modal, .ground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    & .dialog {
        margin: 10vh auto;
        box-shadow:0 2px 20px -5px rgba(0,0,0,.8);
        padding-left: calc(var(--space) * 3);
        position: relative;
        width: 60vw;
        background: white;
        text-align: left;
        display: inline-block;

        & .dialog-content {
            max-height: 70vh;
            height: 60vh;
        }

        & .dialog-main {
            height: 100%;
            overflow: auto;
            padding-top: var(--large-space);
            padding-right: calc(var(--space) * 3);

        }

        &.animated {
            animation-duration: .5s;
        }

    }
    & .preview-content {
        border: 1px solid transparent;
        padding: var(--font-size);
        margin: var(--font-size) 0;

        & .answer {
            border: none;
        }
    }

    &.small .dialog{
        width: 40vw;
        margin-top: 20vh;

        & .dialog-content{
            height: 30vh;
        }
    }

    &.large .dialog{
        width: 96vw;
    }

    &.auto {
        & .dialog,
        & .dialog-content {
            width: auto;
            height: auto;
        }

    }
}

.dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=15);
    opacity: 0.15;
}

.popup,
.ground {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    right: 0;

    &.large {
        width: 75%;
    }
}

.dialog {
    box-shadow:0 2px 20px -5px rgba(0,0,0,.8);

    & > .container {
        margin: 0;
        height: 100%;
    }

    & .dismiss {
        position: absolute;
        top: 1em;
        right: calc(var(--space) * 3);
        font-size: var(--font-size);
        z-index: 10;
        cursor: pointer;
    }

    & .dialog-footer {
        text-align: right;
        border-top: 1px solid var(--border-color);
        padding: 1em calc(var(--space) * 3) 1em 0;
        margin-left: -calc(var(--space) * 3);
        background: white;

        & .btn:not(:last-child) {
            margin-right: var(--font-size);
        }
    }

    & .dialog-header .title {
        margin-left: -calc(var(--space) * 3);
        padding: 1em calc(var(--space) * 3);
        min-height: var(--base-gap);
        background: var(--bg-color);
        border-bottom: 1px solid var(--border-color);
    }

    &.animated {
        animation-duration: .5s;
    }
}

.ground {
    width: auto;
    box-shadow: none;
    z-index: 998;
    left: 0;

    &.large {
        left: 0;
        width: 100%;

        & .dialog-header {
            display: none;
        }
    }
}


.dialog-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 1px;

    & > .title {
            margin-top: var(--font-size);

            &::after {
                content:'';
                clear: both;
                display: table;
            }

        & .toolbox {
            float: left;

            & .tags {
                min-width: 300px;
                border-width: 1px;
                border-style: solid;
                display: inline-block;
                vertical-align: middle;
            }
            & .addon {
                position: relative;
                float: right;

            }
            & .btn{
                padding: 1px 8px;
            }

            & .buttons {
                height: var(--font-size);
                width: calc(var(--font-size) * 1);
                display: inline-block;
                vertical-align: middle;
                text-align: center;
            }

            & i {
                line-height: var(--font-size);
                font-size: var(--font-size);
            }
        }
    }

    & .content-wrapper {
        height: 80%;
    }

    & .content-left {
        width: 200px;
        float: left;
        height: 100%;
        overflow: auto;
    }

    & .content-main {
        margin-left: 230px;
        overflow: auto;
        height: 100%;
    }

}
