.star-bar {
    height: 1em;
    line-height: 1em;
    white-space: nowrap;
    position: relative;
    font-size: 1.5em;
    font-family: iconfont;
    display: inline-block;
    vertical-align: middle;

    &:before {
        content: '\e6f8  \e6f8  \e6f8  \e6f8  \e6f8';
        opacity: .1;
        filter: alpha(opacity=10);
    }

    & .star {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        color: var(--star-color);

        &:before {
            content: '\e6f8  \e6f8  \e6f8  \e6f8  \e6f8';
        }
    }
}

.star-wrapper {
    line-height: 1em;
    
    & .num {
        color: var(--star-color);
        line-height: 1.2em;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.5em;
        margin-left: var(--space);
    }

    & .star-grade {
        @apply --clearfix;
        margin: 1em;

        & + .btn {
            line-height: 1;
            margin: 1em;
        }

        &:hover .item{
            @apply --fade-in;

            color: var(--star-color);
        }

        & .item {
            @apply --transition;

            cursor: pointer;
            opacity: .1;
            filter: alpha(opacity=10);
            float: left;
            padding: 0 calc(var(--space) / 2);


            &:hover ~ .item {
                opacity: .1;
                filter: alpha(opacity=10);
                color: var(--font-color);
            }
        }

    }
}
