.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    &.banner{
        & > ul > li {
            position: absolute;
            left: 100%;
            width: 100%;
            top: 0;
            z-index: 1;

            &.prev {
                left: 0;
            }

            &.current {
                left: 0;
                top: 0;
                z-index: 2;
            }

            & img {
                max-width: 100%;
            }
        }
    }


    &  > ul {
        @apply --transition;
        white-space: nowrap;
        width: 100%;
        font-size: 0;
        & > li {
            display: inline-block;
            font-size: 1rem;
            white-space: normal;
            overflow: hidden;
            width: 20%;
        }

        &.full > li {
            width: 100%;
        }
    }

    & .navigation {
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 4;

        & .item {
            display: inline-block;
            background: white;
            opacity: .35;
            width: var(--space);
            height: var(--space);
            border-radius: 50%;
            margin: 0 var(--space);
            cursor: pointer;

            &.current {
                opacity: 1;
            }
        }
    }

    & .btn-prev,
    & .btn-next {
        @apply --transition;

        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        padding: 2em 0;
        cursor: pointer;
        width: 1em;
        overflow: hidden;
        background-color: rgba(0,0,0,.1);
        color: var(--font-tip-color);

        &:hover {
            background-color: rgba(0,0,0,.5);
            color: white;
        }
        & .iconfont {
            font-size: .5em;
            position: absolute;
            top: 50%;
            margin-top: -.5em;
            left: 50%;
            margin-left: -.5em;
            cursor: pointer;
        }
    }
    & .btn-prev {
        left: 0;
    }
    & .btn-next {
        right: 0;
    }

    &.animating {
        & .prev {
            animation: swiperOut 1s 1;
        }

        & .current {
            animation: swiperIn 1s 1;
        }
    }

}

@keyframes swiperIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes swiperOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
