:root {
    --tag {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        overflow: hidden;

        & .tag {
            font-size: 12px;
            background-color: rgba(0, 0, 0, 0.5);;
            position: absolute;
            left: -35px;
            top: -10px;
            width: 90px;
            height: 40px;
            line-height: 50px;
            text-align: center;
            transform: rotate(-45deg);
            padding: 4px 0;
            z-index: 2;

            &:after,
            &:before {
                position: absolute;
                border-width: 5px;
                border-style: solid;
                border-color: transparent;
                border-top-color: var(--font-color);
                bottom: -10px;
                left: 8px;
            }

            &:after {
                left: auto;
                right: 8px;
                /* right: 30px\0; */
            }

            & span {
                color: white;
            }
        }
    }

}
