.topics-list {
    & .topics-right {
        float: right;
        margin-left: var(--space);
    }

    & .tip-title {
        padding: calc(var(--space) / 2) 0;
    }

    & .topic-tag-list {
        white-space: nowrap;
    }
}
