.header {
    & .nav {
        min-width: var(--min-width);
        background: #3F4147;

        & .item {
            display: inline-block;
            position: relative;
            padding: 0 calc(var(--large-space) * 2);
            height: var(--nav-height);
            line-height: var(--nav-height);
        }

        & a {
            border-bottom-width: 0px;
            border-bottom-style: solid;
            font-size: var(--font-title);
            padding: 0 0 calc(var(--space) / 1);
            transition: all .2s linear;
            width: 0;
            overflow: visible;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 0%;
                height: 3px;
                left: 50%;
                bottom: 0;
                transition: all .2s linear;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
                margin-left: -50%;

            }
        }
    }

    & .shortcut {
        float: right;
        margin: var(--space) 0;

        & .item {
            display: inline-block;
            position: relative;
            margin-right: var(--large-space);

            &:nth-last-of-type(1) {
                margin-right: 0;
            }
        }

        & .header-search-bar {
            border-width: 2px;
            position: relative;
            z-index: 20;
        }

        & .search-select,
        & .search-input,
        & .search-btn {
            display: inline-block;
            vertical-align: middle;
        }

        & .search-select {
            & select {
                border: none;
                background: none;
                outline: none;
                box-shadow: none;
            }
        }

        & .search-input {
            & input {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }

        & .search-btn {
            & .btn {
                padding-left: 1em;
                padding-right: 1em;
            }

            & .iconfont {
                margin-right: 0;
            }
        }

        & .search-more-bar {
            @apply --fade-out;
            @apply --transition;

            position: absolute;
            left: -2px;
            top: 100%;
            background: white;
            right: -2px;
            margin-top: 2px;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: 0 0;

            &.show {
                @apply --fade-in;

                z-index: 10;
                transform: scaleY(1);
            }

            & li {
                padding: 1em;
                cursor: pointer;

                &:nth-child(even) {
                    background: var(--bg-color);
                }
            }
        }

        & .user-pic {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            overflow: hidden;

            & img {
                max-width: 100%;
                display: block;
            }
        }

        & .user-info-top {
            @apply --clearfix;

            & .user-pic {
                width: 5em;
                height: 5em;
                margin-right: 1em;
            }

            & .item {
                padding: var(--space) 0;
                display: block;
            }

            & .lv {
                @apply --lv;
            }
        }

        & .user-info-list {
            @apply --clearfix;

            margin-top: 1em;
            padding: 2em 0 1em;

            & .item {
                float: left;
                width: 50%;
                text-align: center;
                margin: 0;

            }
        }

        & .message-list {
            max-width: 12em;
            margin-bottom: 1em;

            & li {
                padding: 1em 0;
                border-bottom: 1px dashed var(--border-color);
            }

            & .sub-text {
                font-size: var(--small-font);
                margin-top: calc(var(--space) / 2);
            }
        }
    }
}

.logo {
    float: left;
    text-align: center;
    transition: width .2s linear;
    overflow: hidden;
    margin: var(--space) var(--large-space) var(--space) 0;

    & .logo-min {
        display: none;
    }

    & .item {
        float: left;
        margin-right: var(--base-gap);
        height: var(--input-height);
    }

    & img {
        vertical-align: middle;
        height: 100%;
        display: block;
    }

}

.footer {
    margin-top: var(--section-gap);
        & p {
        text-align: center;
        padding: 5em 0;
        margin: 0;
        }
}
